#  COVID-19 – Data-Based Prediction Tool

## Ian Scarff (iie728)

## Practicum II Project 2020

### Import Packages

In [1]:
import numpy as np
import pandas as pd
import plotly
import plotly.express as px
import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output
from jupyter_plotly_dash import JupyterDash

Run the Data Preprocessing code to have up to date data.

In [2]:
import import_ipynb
import Data_Preprocessing
print("Data Updated")

importing Jupyter notebook from Data_Preprocessing.ipynb
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 1383k  100 1383k    0     0  1599k      0 --:--:-- --:--:-- --:--:-- 1598k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 1150k  100 1150k    0     0  1740k      0 --:--:-- --:--:-- --:--:-- 1737k
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 513912 entries, 0 to 513911
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   County Name   513912 non-null  object
 1   State         513912 non-null  object
 2   countyFIPS    513912 non-null  int64
 3   stateFIPS     513912 non-null  int64
 4   Date          513912 non-null  datetime64[ns]
 5   Total Cases   513912 non-null  int64
 6   Total Deaths  513912 non-null  int64
 7   Population    513912 non-null  int64
 8   New Cases     513912 non-null  int64
 9   New Deaths    513912 non-null  int64
dtypes: datetime64[ns](1), int64(7), object(2)
memory usage: 39.2+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 513912 entries, 0 to 513911
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   County Name   513912 non-null  category
 1   State         513912 non-null  category
 2   countyFIPS    513912 non-null  object
 3   stateFIPS     513912 non-null  object
 4   Date          513912 non-null  datetime64[ns]
 5   Total Cases   513912 non-null  int64
 6   Total Deaths  513912 non-null  int64
 7   Population    513912 non-null  int64
 8   New Cases     513912 non-null  int64
 9   New Deaths    513912 non-null  int64
dtypes: category(2), datetime64[ns](1), int64(5), object(2)
memory usage: 32.9+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 505862 entries, 0 to 505861
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   County Name   505862 non-null  category
 1   State         505862 non-null  category
 2   countyFIPS    505862 non-null  object
 3   stateFIPS     505862 non-null  object
 4   Date          505862 non-null  datetime64[ns]
 5   Total Cases   505862 non-null  int64
 6   Total Deaths  505862 non-null  int64
 7   Population    505862 non-null  int64
 8   New Cases     505862 non-null  int64
 9   New Deaths    505862 non-null  int64
dtypes: category(2), datetime64[ns](1), int64(5), object(2)
memory usage: 36.3+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 161 entries, 0 to 160
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Country      161 non-null    object
 1   Date         161 non-null    datetime64[ns]
 2   TotalCases   161 non-null    int64
 3   TotalDeaths  161 non-null    int64
 4   Population   161 non-null    int64
 5   NewCases     161 non-null    int64
 6   NewDeaths    161 non-null    int64
dtypes: datetime64[ns](1), int64(5), object(1)
memory usage: 10.1+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 8211 entries, 0 to 8210
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               8211 non-null   datetime64[ns]
 1   State              8211 non-null   object
 2   stateFIPS          8211 non-null   object
 3   Total Cases        8211 non-null   int64
 4   Total Deaths       8211 non-null   int64
 5   Population         8211 non-null   int64
 6   New Cases          8211 non-null   int64
 7   New Deaths         8211 non-null   int64
 8   %Cases             8211 non-null   float64
 9   %Deaths            8211 non-null   float64
 10  log(Total Cases)   8211 non-null   float64
 11  log(Total Deaths)  8211 non-null   float64
 12  log(New Cases)     8211 non-null   float64
 13  log(New Deaths)    8211 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(5), object(2)
memory usage: 962.2+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 8211 entries, 0 to 8210
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               8211 non-null   datetime64[ns]
 1   State              8211 non-null   category
 2   stateFIPS          8211 non-null   object
 3   Total Cases        8211 non-null   int64
 4   Total Deaths       8211 non-null   int64
 5   Population         8211 non-null   int64
 6   New Cases          8211 non-null   int64
 7   New Deaths         8211 non-null   int64
 8   %Cases             8211 non-null   float64
 9   %Deaths            8211 non-null   float64
 10  log(Total Cases)   8211 non-null   float64
 11  log(Total Deaths)  8211 non-null   float64
 12  log(New Cases)     8211 non-null   float64
 13  log(New Deaths)    8211 non-null   float64
dtypes: category(1), datetime64[ns](1), float64(6), int64(5), object(1)
memory usage: 909.0+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 161 entries, 0 to 160
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country            161 non-null    object
 1   Date               161 non-null    datetime64[ns]
 2   Total Cases        161 non-null    int64
 3   Total Deaths       161 non-null    int64
 4   Population         161 non-null    int64
 5   New Cases          161 non-null    int64
 6   New Deaths         161 non-null    int64
 7   %Cases             161 non-null    float64
 8   %Deaths            161 non-null    float64
 9   log(Total Cases)   161 non-null    float64
 10  log(Total Deaths)  161 non-null    float64
 11  log(New Cases)     161 non-null    float64
 12  log(New Deaths)    161 non-null    float64
dtypes: datetime64[ns](1), float64(6), int64(5), object(1)
memory usage: 17.6+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 161 entries, 0 to 160
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country            161 non-null    category
 1   Date               161 non-null    datetime64[ns]
 2   Total Cases        161 non-null    int64
 3   Total Deaths       161 non-null    int64
 4   Population         161 non-null    int64
 5   New Cases          161 non-null    int64
 6   New Deaths         161 non-null    int64
 7   %Cases             161 non-null    float64
 8   %Deaths            161 non-null    float64
 9   log(Total Cases)   161 non-null    float64
 10  log(Total Deaths)  161 non-null    float64
 11  log(New Cases)     161 non-null    float64
 12  log(New Deaths)    161 non-null    float64
dtypes: category(1), datetime64[ns](1), float64(6), int64(5)
memory usage: 16.6 KB
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0

/home/hcup-server2/.local/lib/python3.7/site-packages/pandas/core/series.py:679: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

100 39.8M  100 39.8M    0     0  5960k      0  0:00:06  0:00:06 --:--:-- 6091k

Data_Preprocessing.ipynb:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  "cell_type": "markdown",

Data Updated

## Load datasets

In [3]:
countyData = pd.read_csv("data/countyData.csv", dtype = "str")
stateData = pd.read_csv("data/stateData.csv", dtype = "str")
usaData = pd.read_csv("data/usaData.csv", dtype = "str")

import json
counties = open("data/geojson-counties-fips.json",)
counties = json.load(counties)

In [4]:
countyData

,County Name,State,countyFIPS,stateFIPS,Date,Total Cases,Total Deaths,Population,New Cases,New Deaths,...,log(Total Cases),log(Total Deaths),log(New Cases),log(New Deaths),%Retail/Rec Change,%Grocery/Pharm Change,%Parks Change,%Transit Change,%Workplace Change,%Residential Change
0,Autauga,Alabama,01001,1,2020-01-22,0,0,55869,0,0,...,-inf,-inf,-inf,-inf,NaN,NaN,NaN,NaN,NaN,NaN
1,Autauga,Alabama,01001,1,2020-01-23,0,0,55869,0,0,...,-inf,-inf,-inf,-inf,NaN,NaN,NaN,NaN,NaN,NaN
2,Autauga,Alabama,01001,1,2020-01-24,0,0,55869,0,0,...,-inf,-inf,-inf,-inf,NaN,NaN,NaN,NaN,NaN,NaN
3,Autauga,Alabama,01001,1,2020-01-25,0,0,55869,0,0,...,-inf,-inf,-inf,-inf,NaN,NaN,NaN,NaN,NaN,NaN
4,Autauga,Alabama,01001,1,2020-01-26,0,0,55869,0,0,...,-inf,-inf,-inf,-inf,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505857,Weston,Wyoming,56045,56,2020-06-26,1,0,6927,0,0,...,0.0,-inf,-inf,-inf,NaN,NaN,NaN,NaN,-22,NaN
505858,Weston,Wyoming,56045,56,2020-06-27,1,0,6927,0,0,...,0.0,-inf,-inf,-inf,NaN,NaN,NaN,NaN,NaN,NaN
505859,Weston,Wyoming,56045,56,2020-06-28,1,0,6927,0,0,...,0.0,-inf,-inf,-inf,NaN,NaN,NaN,NaN,NaN,NaN
505860,Weston,Wyoming,56045,56,2020-06-29,2,0,6927,1,0,...,0.693,-inf,0.0,-inf,NaN,NaN,NaN,NaN,NaN,NaN
505861,Weston,Wyoming,56045,56,2020-06-30,2,0,6927,0,0,...,0.693,-inf,-inf,-inf,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
countyData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505862 entries, 0 to 505861
Data columns (total 22 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   County Name            505862 non-null  object
 1   State                  505862 non-null  object
 2   countyFIPS             505862 non-null  object
 3   stateFIPS              505862 non-null  object
 4   Date                   505862 non-null  object
 5   Total Cases            505862 non-null  object
 6   Total Deaths           505862 non-null  object
 7   Population             505862 non-null  object
 8   New Cases              505862 non-null  object
 9   New Deaths             505862 non-null  object
 10  %Cases                 505862 non-null  object
 11  %Deaths                505862 non-null  object
 12  log(Total Cases)       505862 non-null  object
 13  log(Total Deaths)      505862 non-null  object
 14  log(New Cases)         505862 non-null  object
 15  log(New Deaths)        505862 non-null  object
 16  %Retail/Rec Change     245778 non-null  object
 17  %Grocery/Pharm Change  229883 non-null  object
 18  %Parks Change          81247 non-null   object
 19  %Transit Change        132254 non-null  object
 20  %Workplace Change      339006 non-null  object
 21  %Residential Change    157427 non-null  object
dtypes: object(22)
memory usage: 84.9+ MB

In [6]:
### Convert data types

countyData = countyData.astype({"Total Cases" : "int64",
                                "Total Deaths" : "int64",
                                "Population" : "int64",
                                "New Cases" : "int64",
                                "New Deaths" : "int64",
                                "%Cases" : "float64",
                                "%Deaths" : "float64",
                                "log(Total Cases)" : "float64",
                                "log(Total Deaths)" : "float64",
                                "log(New Cases)" : "float64"})

stateData = stateData.astype({"Total Cases" : "int64",
                              "Total Deaths" : "int64",
                              "Population" : "int64",
                              "New Cases" : "int64",
                              "New Deaths" : "int64",
                              "%Cases" : "float64",
                              "%Deaths" : "float64",
                              "log(Total Cases)" : "float64",
                              "log(Total Deaths)" : "float64",
                              "log(New Cases)" : "float64", 
                              "log(New Deaths)" : "float64"})

usaData = usaData.astype({"Total Cases" : "int64",
                          "Total Deaths" : "int64",
                          "Population" : "int64",
                          "New Cases" : "int64",
                          "New Deaths" : "int64",
                          "%Cases" : "float64",
                          "%Deaths" : "float64", 
                          "log(Total Cases)" : "float64",
                          "log(Total Deaths)" : "float64",
                          "log(New Cases)" : "float64", 
                          "log(New Deaths)" : "float64"})

# Covid-19 Dashboard

In [ ]:
app = JupyterDash('Simple Example')


### App Layout
app.layout = html.Div([
    
    html.H1("Covid-19 Dashboard", style = {'text-align' : 'center'})
    
      
])


app.run_server()

In [ ]:
app.use_nbproxy

In [ ]:
!jupyter serverextension install jupyter_server_proxy
!jupyter serverextension enable jupyter_server_proxy

In [ ]:
!pip uninstall dash