#  COVID-19 – Data-Based Prediction Tool

## Ian Scarff (iie728)

## Practicum II Project 2020

### Import Packages

In [1]:
import numpy as np
import pandas as pd

# Covid-19 Data Preprocessing

### About the Data

Data comes from the website usafacts.org under the webpage 
"Coronavirus Locations: COVID-19 Map by County and State."

The 21 cases confirmed on the Grand Princess cruise ship on March 5 and 6 are attributed to the state of California, but not to any counties. The national numbers also include the 45 people with coronavirus repatriated from the Diamond Princess.

USAFacts attempts to match each case with a county, but some cases counted at the state level are not allocated to counties due to lack of information.

Data is updated each day.


NOTES FROM USAFacts:

Note from April 28: On April 14, New York City began a separate count of "probable deaths" of people believed to have died as a result of COVID-19, though weren't tested. On April 28, these deaths were retroactively added to our death counts, assigned to a New York City borough if possible. In the future, USAFacts will include "probable deaths" in the overall tally if a local government chooses to report that information separately.

Note from April 18: Certain states have changed their methodology in reporting deaths due to COVID-19. As a result, we are holding off on reporting death data in a few key states (New York is notable among these states due to the high number of confirmed cases and deaths). USAFacts is committed to providing official numbers confirmed by state or local health agencies, and we will appropriately backfill the death data when we receive more guidance from the CDC and relevant health departments.

Note from April 15: In certain states, probable deaths are listed alongside confirmed deaths. Following the lead of the CDC, we will begin publishing death counts that combine these two totals where applicable; this might result in larger than expected increases in deaths in certain counties.

Note from March 28: The data now includes all counties regardless of confirmed case count. Additionally, New York City data has been allotted to its five boroughs/counties, where possible.



##### There is no missing data.

#### Import Data

To unsure that we always have a copy of the data saved in the environment, every time the data is imported it will be saved.

In [2]:
### Number of confirmed cases by county
!curl https://usafactsstatic.blob.core.windows.net/public/data/covid-19/covid_confirmed_usafacts.csv --output data/cases.csv

### Number of confirmed deaths by county
!curl https://usafactsstatic.blob.core.windows.net/public/data/covid-19/covid_deaths_usafacts.csv --output data/deaths.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 1566k  100 1566k    0     0  1770k      0 --:--:-- --:--:-- --:--:-- 1768k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 1273k  100 1273k    0     0  1704k      0 --:--:-- --:--:-- --:--:-- 1702k

The labeling for counties in the population dataset were unreliable.

Created seperate population dataset with naming convention that matches other data frames.

Now load those datasets.

In [3]:
### Total Cases
cases = pd.read_csv("data/cases.csv")

odd = "Unnamed: " + str(len(cases.columns) - 1)

if (cases.columns[-1] == odd):
    cases = cases.drop(columns = cases.columns[-1])

cases

,countyFIPS,County Name,State,stateFIPS,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,7/8/20,7/9/20,7/10/20,7/11/20,7/12/20,7/13/20,7/14/20,7/15/20,7/16/20,7/17/20
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,651,661,670,684,706,728,746,756,780,789
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,1056,1131,1187,1224,1294,1359,1414,1518,1599,1689
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,366,371,381,398,403,413,428,441,459,463
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,201,211,218,224,228,231,236,242,247,255
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3190,56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,124,126,128,136,138,150,156,157,158,162
3191,56039,Teton County,WY,56,0,0,0,0,0,0,...,149,149,150,155,157,162,164,170,181,187
3192,56041,Uinta County,WY,56,0,0,0,0,0,0,...,192,198,200,201,202,205,208,208,217,219
3193,56043,Washakie County,WY,56,0,0,0,0,0,0,...,42,42,42,43,43,43,43,43,43,43
3194,56045,Weston County,WY,56,0,0,0,0,0,0,...,1,1,1,1,1,3,3,3,3,3

In [4]:
### Total Deaths
deaths = pd.read_csv("data/deaths.csv")

if (cases.columns[-1] == odd):
    deaths = deaths.drop(columns = deaths.columns[-1])

deaths

,countyFIPS,County Name,State,stateFIPS,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,7/8/20,7/9/20,7/10/20,7/11/20,7/12/20,7/13/20,7/14/20,7/15/20,7/16/20,7/17/20
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,13,14,15,15,16,16,18,19,20,21
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,10,11,12,12,12,12,12,13,14,14
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,2,2,2,2,2,2,3,3,3,3
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,1,1,1,1,1,1,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3190,56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,2,2
3191,56039,Teton County,WY,56,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
3192,56041,Uinta County,WY,56,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3193,56043,Washakie County,WY,56,0,0,0,0,0,0,...,5,5,5,5,5,5,5,5,5,5
3194,56045,Weston County,WY,56,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
### Total Population
population = pd.read_csv("data/population.csv")
population

                County Name  Population  countyFIPS
0     Statewide Unallocated           0           0
1                  Autauga        55869        1001
2                  Baldwin       223234        1003
3                  Barbour        24686        1005
4                     Bibb        22394        1007
...                     ...         ...         ...
3138            Sweetwater        42343       56037
3139                 Teton        23464       56039
3140                 Uinta        20226       56041
3141              Washakie         7805       56043
3142                Weston         6927       56045

[3143 rows x 3 columns]

### Fixing Errors
In the cases and deaths dataframes, certain obervations need to be removed.

1: Wade Hampton Census Area, Alaska. This area no longer exists. Was renamed to Kusilvak Census Area.

2: New York City Unallocated/Probable. This is not a county. Observations for the NYC area are covered by the 5 counties of the metropolitan area.

3: Grand Princess Cruise Ship. This is a cruise ship, not a county, and these cases are attributed to California.

<br>

In addition, for the purposes of the dashboard, drop the Aleutians West Census Area.

In [6]:
#### County Data

### Remove Wade Hampton Area
cases = cases.drop(list(cases[cases["County Name"] == "Wade Hampton Census Area"].index))

### New York City Unallocated/Probable
cases = cases.drop(list(cases[cases["County Name"] == "New York City Unallocated/Probable"].index))

### Remove Grand Princess Cruise Ship
cases = cases.drop(list(cases[cases["County Name"] == "Grand Princess Cruise Ship"].index))

# ### Remove Aleutians West Census Area
# cases = cases.drop(list(cases[cases["County Name"] == "Aleutians West Census Area"].index))


#### Deaths Data
### Remove Wade Hampton Area
deaths = deaths.drop(list(deaths[deaths["County Name"] == "Wade Hampton Census Area"].index))

### New York City Unallocated/Probable
deaths = deaths.drop(list(deaths[deaths["County Name"] == "New York City Unallocated/Probable"].index))

### Remove Grand Princess Cruise Ship
deaths = deaths.drop(list(deaths[deaths["County Name"] == "Grand Princess Cruise Ship"].index))

# ### Remove Aleutians West Census Area
# deaths = deaths.drop(list(deaths[deaths["County Name"] == "Aleutians West Census Area"].index))

In [7]:
cases = cases.rename(columns = {"State" : "StateABV"})
cases

,countyFIPS,County Name,StateABV,stateFIPS,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,7/8/20,7/9/20,7/10/20,7/11/20,7/12/20,7/13/20,7/14/20,7/15/20,7/16/20,7/17/20
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,651,661,670,684,706,728,746,756,780,789
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,1056,1131,1187,1224,1294,1359,1414,1518,1599,1689
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,366,371,381,398,403,413,428,441,459,463
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,201,211,218,224,228,231,236,242,247,255
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3190,56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,124,126,128,136,138,150,156,157,158,162
3191,56039,Teton County,WY,56,0,0,0,0,0,0,...,149,149,150,155,157,162,164,170,181,187
3192,56041,Uinta County,WY,56,0,0,0,0,0,0,...,192,198,200,201,202,205,208,208,217,219
3193,56043,Washakie County,WY,56,0,0,0,0,0,0,...,42,42,42,43,43,43,43,43,43,43
3194,56045,Weston County,WY,56,0,0,0,0,0,0,...,1,1,1,1,1,3,3,3,3,3

In [8]:
deaths = deaths.rename(columns = {"State" : "StateABV"})
deaths

,countyFIPS,County Name,StateABV,stateFIPS,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,7/8/20,7/9/20,7/10/20,7/11/20,7/12/20,7/13/20,7/14/20,7/15/20,7/16/20,7/17/20
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,13,14,15,15,16,16,18,19,20,21
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,10,11,12,12,12,12,12,13,14,14
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,2,2,2,2,2,2,3,3,3,3
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,1,1,1,1,1,1,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3190,56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,2,2
3191,56039,Teton County,WY,56,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
3192,56041,Uinta County,WY,56,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3193,56043,Washakie County,WY,56,0,0,0,0,0,0,...,5,5,5,5,5,5,5,5,5,5
3194,56045,Weston County,WY,56,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Prep Data

#### Ensuring Labels

To ensure that county and state labels are the same across dataframes, replace them with labels in FIPS.csv

Bring in FIPS data

In [9]:
### County FIPS
countyFIPS = pd.read_csv("data/countyFIPS.csv")
countyFIPS

                County Name  countyFIPS
0     Statewide Unallocated           0
1                  Autauga         1001
2                  Baldwin         1003
3                  Barbour         1005
4                     Bibb         1007
...                     ...         ...
3138            Sweetwater        56037
3139                 Teton        56039
3140                 Uinta        56041
3141              Washakie        56043
3142                Weston        56045

[3143 rows x 2 columns]

In [10]:
### State FIPS
stateFIPS = pd.read_csv("data/stateFIPS.csv")
stateFIPS

             State  stateFIPS
0          Alabama          1
1           Alaska          2
2          Arizona          4
3         Arkansas          5
4       California          6
5         Colorado          8
6      Connecticut          9
7         Delaware         10
8               DC         11
9          Florida         12
10         Georgia         13
11          Hawaii         15
12           Idaho         16
13        Illinois         17
14         Indiana         18
15            Iowa         19
16          Kansas         20
17        Kentucky         21
18       Louisiana         22
19           Maine         23
20        Maryland         24
21   Massachusetts         25
22        Michigan         26
23       Minnesota         27
24     Mississippi         28
25        Missouri         29
26         Montana         30
27        Nebraska         31
28          Nevada         32
29   New Hampshire         33
30      New Jersey         34
31      New Mexico         35
32        New York         36
33  North Carolina         37
34    North Dakota         38
35            Ohio         39
36        Oklahoma         40
37          Oregon         41
38    Pennsylvania         42
39    Rhode Island         44
40  South Carolina         45
41    South Dakota         46
42       Tennessee         47
43           Texas         48
44            Utah         49
45         Vermont         50
46        Virginia         51
47      Washington         53
48   West Virginia         54
49       Wisconsin         55
50         Wyoming         56

##### Fixing Cases Labels

In [11]:
### Drop cases county labels
cases = cases.drop(columns = "County Name")
cases

,countyFIPS,StateABV,stateFIPS,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,7/8/20,7/9/20,7/10/20,7/11/20,7/12/20,7/13/20,7/14/20,7/15/20,7/16/20,7/17/20
0,0,AL,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,AL,1,0,0,0,0,0,0,0,...,651,661,670,684,706,728,746,756,780,789
2,1003,AL,1,0,0,0,0,0,0,0,...,1056,1131,1187,1224,1294,1359,1414,1518,1599,1689
3,1005,AL,1,0,0,0,0,0,0,0,...,366,371,381,398,403,413,428,441,459,463
4,1007,AL,1,0,0,0,0,0,0,0,...,201,211,218,224,228,231,236,242,247,255
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3190,56037,WY,56,0,0,0,0,0,0,0,...,124,126,128,136,138,150,156,157,158,162
3191,56039,WY,56,0,0,0,0,0,0,0,...,149,149,150,155,157,162,164,170,181,187
3192,56041,WY,56,0,0,0,0,0,0,0,...,192,198,200,201,202,205,208,208,217,219
3193,56043,WY,56,0,0,0,0,0,0,0,...,42,42,42,43,43,43,43,43,43,43
3194,56045,WY,56,0,0,0,0,0,0,0,...,1,1,1,1,1,3,3,3,3,3

In [12]:
### Add County Name from countyFIPS
cases = cases.merge(countyFIPS, how = "left")
cases

,countyFIPS,StateABV,stateFIPS,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,7/9/20,7/10/20,7/11/20,7/12/20,7/13/20,7/14/20,7/15/20,7/16/20,7/17/20,County Name
0,0,AL,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Statewide Unallocated
1,1001,AL,1,0,0,0,0,0,0,0,...,661,670,684,706,728,746,756,780,789,Autauga
2,1003,AL,1,0,0,0,0,0,0,0,...,1131,1187,1224,1294,1359,1414,1518,1599,1689,Baldwin
3,1005,AL,1,0,0,0,0,0,0,0,...,371,381,398,403,413,428,441,459,463,Barbour
4,1007,AL,1,0,0,0,0,0,0,0,...,211,218,224,228,231,236,242,247,255,Bibb
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3186,56037,WY,56,0,0,0,0,0,0,0,...,126,128,136,138,150,156,157,158,162,Sweetwater
3187,56039,WY,56,0,0,0,0,0,0,0,...,149,150,155,157,162,164,170,181,187,Teton
3188,56041,WY,56,0,0,0,0,0,0,0,...,198,200,201,202,205,208,208,217,219,Uinta
3189,56043,WY,56,0,0,0,0,0,0,0,...,42,42,43,43,43,43,43,43,43,Washakie
3190,56045,WY,56,0,0,0,0,0,0,0,...,1,1,1,1,3,3,3,3,3,Weston

In [13]:
### Add State names from stateFIPS
cases = cases.merge(stateFIPS, how = "left")
cases

,countyFIPS,StateABV,stateFIPS,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,7/10/20,7/11/20,7/12/20,7/13/20,7/14/20,7/15/20,7/16/20,7/17/20,County Name,State
0,0,AL,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Statewide Unallocated,Alabama
1,1001,AL,1,0,0,0,0,0,0,0,...,670,684,706,728,746,756,780,789,Autauga,Alabama
2,1003,AL,1,0,0,0,0,0,0,0,...,1187,1224,1294,1359,1414,1518,1599,1689,Baldwin,Alabama
3,1005,AL,1,0,0,0,0,0,0,0,...,381,398,403,413,428,441,459,463,Barbour,Alabama
4,1007,AL,1,0,0,0,0,0,0,0,...,218,224,228,231,236,242,247,255,Bibb,Alabama
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3186,56037,WY,56,0,0,0,0,0,0,0,...,128,136,138,150,156,157,158,162,Sweetwater,Wyoming
3187,56039,WY,56,0,0,0,0,0,0,0,...,150,155,157,162,164,170,181,187,Teton,Wyoming
3188,56041,WY,56,0,0,0,0,0,0,0,...,200,201,202,205,208,208,217,219,Uinta,Wyoming
3189,56043,WY,56,0,0,0,0,0,0,0,...,42,43,43,43,43,43,43,43,Washakie,Wyoming
3190,56045,WY,56,0,0,0,0,0,0,0,...,1,1,1,3,3,3,3,3,Weston,Wyoming

##### Fixing Deaths Labels

In [14]:
### Drop deaths county labels
deaths = deaths.drop(columns = "County Name")
deaths

,countyFIPS,StateABV,stateFIPS,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,7/8/20,7/9/20,7/10/20,7/11/20,7/12/20,7/13/20,7/14/20,7/15/20,7/16/20,7/17/20
0,0,AL,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,AL,1,0,0,0,0,0,0,0,...,13,14,15,15,16,16,18,19,20,21
2,1003,AL,1,0,0,0,0,0,0,0,...,10,11,12,12,12,12,12,13,14,14
3,1005,AL,1,0,0,0,0,0,0,0,...,2,2,2,2,2,2,3,3,3,3
4,1007,AL,1,0,0,0,0,0,0,0,...,1,1,1,1,1,1,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3190,56037,WY,56,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,2,2
3191,56039,WY,56,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
3192,56041,WY,56,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3193,56043,WY,56,0,0,0,0,0,0,0,...,5,5,5,5,5,5,5,5,5,5
3194,56045,WY,56,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
### Add County Name from countyFIPS
deaths = deaths.merge(countyFIPS, how = "left")
deaths

,countyFIPS,StateABV,stateFIPS,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,7/9/20,7/10/20,7/11/20,7/12/20,7/13/20,7/14/20,7/15/20,7/16/20,7/17/20,County Name
0,0,AL,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Statewide Unallocated
1,1001,AL,1,0,0,0,0,0,0,0,...,14,15,15,16,16,18,19,20,21,Autauga
2,1003,AL,1,0,0,0,0,0,0,0,...,11,12,12,12,12,12,13,14,14,Baldwin
3,1005,AL,1,0,0,0,0,0,0,0,...,2,2,2,2,2,3,3,3,3,Barbour
4,1007,AL,1,0,0,0,0,0,0,0,...,1,1,1,1,1,2,2,2,2,Bibb
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3186,56037,WY,56,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,2,2,Sweetwater
3187,56039,WY,56,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,Teton
3188,56041,WY,56,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Uinta
3189,56043,WY,56,0,0,0,0,0,0,0,...,5,5,5,5,5,5,5,5,5,Washakie
3190,56045,WY,56,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Weston

In [16]:
### Add State names from stateFIPS
deaths = deaths.merge(stateFIPS, how = "left")
deaths

,countyFIPS,StateABV,stateFIPS,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,7/10/20,7/11/20,7/12/20,7/13/20,7/14/20,7/15/20,7/16/20,7/17/20,County Name,State
0,0,AL,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Statewide Unallocated,Alabama
1,1001,AL,1,0,0,0,0,0,0,0,...,15,15,16,16,18,19,20,21,Autauga,Alabama
2,1003,AL,1,0,0,0,0,0,0,0,...,12,12,12,12,12,13,14,14,Baldwin,Alabama
3,1005,AL,1,0,0,0,0,0,0,0,...,2,2,2,2,3,3,3,3,Barbour,Alabama
4,1007,AL,1,0,0,0,0,0,0,0,...,1,1,1,1,2,2,2,2,Bibb,Alabama
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3186,56037,WY,56,0,0,0,0,0,0,0,...,0,0,0,0,1,1,2,2,Sweetwater,Wyoming
3187,56039,WY,56,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,Teton,Wyoming
3188,56041,WY,56,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Uinta,Wyoming
3189,56043,WY,56,0,0,0,0,0,0,0,...,5,5,5,5,5,5,5,5,Washakie,Wyoming
3190,56045,WY,56,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Weston,Wyoming

##### Fixing Population Labels

In [17]:
### Drop population county and state labels
population = population.drop(columns = "County Name")
population

      Population  countyFIPS
0              0           0
1          55869        1001
2         223234        1003
3          24686        1005
4          22394        1007
...          ...         ...
3138       42343       56037
3139       23464       56039
3140       20226       56041
3141        7805       56043
3142        6927       56045

[3143 rows x 2 columns]

In [18]:
### Add County Name from countyFIPS
population = population.merge(countyFIPS, how = "left")
population

      Population  countyFIPS            County Name
0              0           0  Statewide Unallocated
1          55869        1001               Autauga
2         223234        1003               Baldwin
3          24686        1005               Barbour
4          22394        1007                  Bibb
...          ...         ...                    ...
3138       42343       56037            Sweetwater
3139       23464       56039                 Teton
3140       20226       56041                 Uinta
3141        7805       56043              Washakie
3142        6927       56045                Weston

[3143 rows x 3 columns]

Turns out that the “Statewide Unallocated” data means that those measurements are correct, they just haven’t been assigned a county due to lack of information. 

Leave these observations out of the county dataframe, but included them in creating state dataframe.

#### County Level Data

The cases and deaths data is in a less usable form.

Unpivot the data using pd.melt to make the data more usable.

In [19]:
### Unpivot cases data
cases = pd.melt(cases, id_vars = ['County Name', "State", "StateABV", "countyFIPS", "stateFIPS"],
                 value_vars = cases.columns[3:-2],
                 var_name = "Date", value_name = "Cases")

cases

,County Name,State,StateABV,countyFIPS,stateFIPS,Date,Cases
0,Statewide Unallocated,Alabama,AL,0,1,1/22/20,0
1,Autauga,Alabama,AL,1001,1,1/22/20,0
2,Baldwin,Alabama,AL,1003,1,1/22/20,0
3,Barbour,Alabama,AL,1005,1,1/22/20,0
4,Bibb,Alabama,AL,1007,1,1/22/20,0
...,...,...,...,...,...,...,...
567993,Sweetwater,Wyoming,WY,56037,56,7/17/20,162
567994,Teton,Wyoming,WY,56039,56,7/17/20,187
567995,Uinta,Wyoming,WY,56041,56,7/17/20,219
567996,Washakie,Wyoming,WY,56043,56,7/17/20,43
567997,Weston,Wyoming,WY,56045,56,7/17/20,3

In [20]:
### Unpivot death data
deaths = pd.melt(deaths, id_vars = ['County Name', "State", "StateABV", "countyFIPS", "stateFIPS"],
                 value_vars = list(deaths.columns[3:-2]),
                 var_name = "Date", value_name = "Deaths")

deaths

,County Name,State,StateABV,countyFIPS,stateFIPS,Date,Deaths
0,Statewide Unallocated,Alabama,AL,0,1,1/22/20,0
1,Autauga,Alabama,AL,1001,1,1/22/20,0
2,Baldwin,Alabama,AL,1003,1,1/22/20,0
3,Barbour,Alabama,AL,1005,1,1/22/20,0
4,Bibb,Alabama,AL,1007,1,1/22/20,0
...,...,...,...,...,...,...,...
567993,Sweetwater,Wyoming,WY,56037,56,7/17/20,2
567994,Teton,Wyoming,WY,56039,56,7/17/20,1
567995,Uinta,Wyoming,WY,56041,56,7/17/20,0
567996,Washakie,Wyoming,WY,56043,56,7/17/20,5
567997,Weston,Wyoming,WY,56045,56,7/17/20,0

Combine cases and deaths into one data frame.

In [21]:
### Merge dataframes
cases_deaths = cases.merge(deaths, on = ["State", "StateABV", "County Name", "Date", "countyFIPS", "stateFIPS"])
cases_deaths

,County Name,State,StateABV,countyFIPS,stateFIPS,Date,Cases,Deaths
0,Statewide Unallocated,Alabama,AL,0,1,1/22/20,0,0
1,Autauga,Alabama,AL,1001,1,1/22/20,0,0
2,Baldwin,Alabama,AL,1003,1,1/22/20,0,0
3,Barbour,Alabama,AL,1005,1,1/22/20,0,0
4,Bibb,Alabama,AL,1007,1,1/22/20,0,0
...,...,...,...,...,...,...,...,...
567993,Sweetwater,Wyoming,WY,56037,56,7/17/20,162,2
567994,Teton,Wyoming,WY,56039,56,7/17/20,187,1
567995,Uinta,Wyoming,WY,56041,56,7/17/20,219,0
567996,Washakie,Wyoming,WY,56043,56,7/17/20,43,5
567997,Weston,Wyoming,WY,56045,56,7/17/20,3,0

Add population to cases_deaths.

In [22]:
### Merge dataframes
cases_deaths = cases_deaths.merge(population, on = ["countyFIPS","County Name"], how = "left")

### Sort
cases_deaths = cases_deaths.astype({"Date" : "datetime64"})
cases_deaths = cases_deaths.sort_values(["State","County Name","Date"], ascending = [True, True, True])


### Rename population and cases
cases_deaths = cases_deaths.rename(columns = {"Cases" : "Total Cases",
                                              "Deaths" : "Total Deaths"})

cases_deaths = cases_deaths.reset_index().drop(columns = "index")
cases_deaths

,County Name,State,StateABV,countyFIPS,stateFIPS,Date,Total Cases,Total Deaths,Population
0,Autauga,Alabama,AL,1001,1,2020-01-22,0,0,55869
1,Autauga,Alabama,AL,1001,1,2020-01-23,0,0,55869
2,Autauga,Alabama,AL,1001,1,2020-01-24,0,0,55869
3,Autauga,Alabama,AL,1001,1,2020-01-25,0,0,55869
4,Autauga,Alabama,AL,1001,1,2020-01-26,0,0,55869
...,...,...,...,...,...,...,...,...,...
567993,Weston,Wyoming,WY,56045,56,2020-07-13,3,0,6927
567994,Weston,Wyoming,WY,56045,56,2020-07-14,3,0,6927
567995,Weston,Wyoming,WY,56045,56,2020-07-15,3,0,6927
567996,Weston,Wyoming,WY,56045,56,2020-07-16,3,0,6927
567997,Weston,Wyoming,WY,56045,56,2020-07-17,3,0,6927

Change data types for County Name and State.

In [23]:
cases_deaths.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 567998 entries, 0 to 567997
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   County Name   567998 non-null  object
 1   State         567998 non-null  object
 2   StateABV      567998 non-null  object
 3   countyFIPS    567998 non-null  int64
 4   stateFIPS     567998 non-null  int64
 5   Date          567998 non-null  datetime64[ns]
 6   Total Cases   567998 non-null  int64
 7   Total Deaths  567998 non-null  int64
 8   Population    567998 non-null  int64
dtypes: datetime64[ns](1), int64(5), object(3)
memory usage: 39.0+ MB

In [24]:
cases_deaths = cases_deaths.astype({"County Name" : "category",
                                    "State" : "category",
                                    "countyFIPS" : "str",
                                    "stateFIPS" : "str"})
cases_deaths.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 567998 entries, 0 to 567997
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   County Name   567998 non-null  category
 1   State         567998 non-null  category
 2   StateABV      567998 non-null  object
 3   countyFIPS    567998 non-null  object
 4   stateFIPS     567998 non-null  object
 5   Date          567998 non-null  datetime64[ns]
 6   Total Cases   567998 non-null  int64
 7   Total Deaths  567998 non-null  int64
 8   Population    567998 non-null  int64
dtypes: category(2), datetime64[ns](1), int64(3), object(3)
memory usage: 32.1+ MB

##### Fixing countyFIPS labels

The first 6 states (Alabama, Alaska, Arizona, Arkansas, California, Colorado, Connecticut) have countyFIPS codes that need to start with 0.

Extract the first 6 states.

In [25]:
### First six states end where DC begins
firstSix = cases_deaths[:list(cases_deaths["countyFIPS"][cases_deaths["State"] == "DC"].index)[0]]
firstSix

,County Name,State,StateABV,countyFIPS,stateFIPS,Date,Total Cases,Total Deaths,Population
0,Autauga,Alabama,AL,1001,1,2020-01-22,0,0,55869
1,Autauga,Alabama,AL,1001,1,2020-01-23,0,0,55869
2,Autauga,Alabama,AL,1001,1,2020-01-24,0,0,55869
3,Autauga,Alabama,AL,1001,1,2020-01-25,0,0,55869
4,Autauga,Alabama,AL,1001,1,2020-01-26,0,0,55869
...,...,...,...,...,...,...,...,...,...
57311,Windham,Connecticut,CT,9015,9,2020-07-13,636,14,116782
57312,Windham,Connecticut,CT,9015,9,2020-07-14,638,14,116782
57313,Windham,Connecticut,CT,9015,9,2020-07-15,639,14,116782
57314,Windham,Connecticut,CT,9015,9,2020-07-16,642,14,116782
57315,Windham,Connecticut,CT,9015,9,2020-07-17,651,14,116782

Fix FIPS codes.

In [26]:
### Create a new column with the fixed FIPS codes
firstSix.insert(2,"countyFIPS2", '0' + firstSix["countyFIPS"])
firstSix

,County Name,State,countyFIPS2,StateABV,countyFIPS,stateFIPS,Date,Total Cases,Total Deaths,Population
0,Autauga,Alabama,01001,AL,1001,1,2020-01-22,0,0,55869
1,Autauga,Alabama,01001,AL,1001,1,2020-01-23,0,0,55869
2,Autauga,Alabama,01001,AL,1001,1,2020-01-24,0,0,55869
3,Autauga,Alabama,01001,AL,1001,1,2020-01-25,0,0,55869
4,Autauga,Alabama,01001,AL,1001,1,2020-01-26,0,0,55869
...,...,...,...,...,...,...,...,...,...,...
57311,Windham,Connecticut,09015,CT,9015,9,2020-07-13,636,14,116782
57312,Windham,Connecticut,09015,CT,9015,9,2020-07-14,638,14,116782
57313,Windham,Connecticut,09015,CT,9015,9,2020-07-15,639,14,116782
57314,Windham,Connecticut,09015,CT,9015,9,2020-07-16,642,14,116782
57315,Windham,Connecticut,09015,CT,9015,9,2020-07-17,651,14,116782

In [27]:
### Drop the old FIPS codes and rename the new FIPS codes column
firstSix = firstSix.drop(columns = "countyFIPS")
firstSix = firstSix.rename(columns = {"countyFIPS2" : "countyFIPS"})
firstSix

,County Name,State,countyFIPS,StateABV,stateFIPS,Date,Total Cases,Total Deaths,Population
0,Autauga,Alabama,01001,AL,1,2020-01-22,0,0,55869
1,Autauga,Alabama,01001,AL,1,2020-01-23,0,0,55869
2,Autauga,Alabama,01001,AL,1,2020-01-24,0,0,55869
3,Autauga,Alabama,01001,AL,1,2020-01-25,0,0,55869
4,Autauga,Alabama,01001,AL,1,2020-01-26,0,0,55869
...,...,...,...,...,...,...,...,...,...
57311,Windham,Connecticut,09015,CT,9,2020-07-13,636,14,116782
57312,Windham,Connecticut,09015,CT,9,2020-07-14,638,14,116782
57313,Windham,Connecticut,09015,CT,9,2020-07-15,639,14,116782
57314,Windham,Connecticut,09015,CT,9,2020-07-16,642,14,116782
57315,Windham,Connecticut,09015,CT,9,2020-07-17,651,14,116782

Now drop the first six states in cases_deaths and stack firstSix on top.

In [28]:
firstSixIndex = np.arange(start = 0, stop = list(cases_deaths["countyFIPS"][cases_deaths["State"] == "DC"].index)[0])
cases_deaths = cases_deaths.drop(firstSixIndex)
cases_deaths

,County Name,State,StateABV,countyFIPS,stateFIPS,Date,Total Cases,Total Deaths,Population
57316,Washington,DC,DC,11001,11,2020-01-22,0,0,705749
57317,Washington,DC,DC,11001,11,2020-01-23,0,0,705749
57318,Washington,DC,DC,11001,11,2020-01-24,0,0,705749
57319,Washington,DC,DC,11001,11,2020-01-25,0,0,705749
57320,Washington,DC,DC,11001,11,2020-01-26,0,0,705749
...,...,...,...,...,...,...,...,...,...
567993,Weston,Wyoming,WY,56045,56,2020-07-13,3,0,6927
567994,Weston,Wyoming,WY,56045,56,2020-07-14,3,0,6927
567995,Weston,Wyoming,WY,56045,56,2020-07-15,3,0,6927
567996,Weston,Wyoming,WY,56045,56,2020-07-16,3,0,6927
567997,Weston,Wyoming,WY,56045,56,2020-07-17,3,0,6927

In [29]:
cases_deaths = pd.concat([firstSix,cases_deaths])
cases_deaths

,County Name,State,countyFIPS,StateABV,stateFIPS,Date,Total Cases,Total Deaths,Population
0,Autauga,Alabama,01001,AL,1,2020-01-22,0,0,55869
1,Autauga,Alabama,01001,AL,1,2020-01-23,0,0,55869
2,Autauga,Alabama,01001,AL,1,2020-01-24,0,0,55869
3,Autauga,Alabama,01001,AL,1,2020-01-25,0,0,55869
4,Autauga,Alabama,01001,AL,1,2020-01-26,0,0,55869
...,...,...,...,...,...,...,...,...,...
567993,Weston,Wyoming,56045,WY,56,2020-07-13,3,0,6927
567994,Weston,Wyoming,56045,WY,56,2020-07-14,3,0,6927
567995,Weston,Wyoming,56045,WY,56,2020-07-15,3,0,6927
567996,Weston,Wyoming,56045,WY,56,2020-07-16,3,0,6927
567997,Weston,Wyoming,56045,WY,56,2020-07-17,3,0,6927

In [30]:
cases_deaths.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 567998 entries, 0 to 567997
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   County Name   567998 non-null  category
 1   State         567998 non-null  category
 2   countyFIPS    567998 non-null  object
 3   StateABV      567998 non-null  object
 4   stateFIPS     567998 non-null  object
 5   Date          567998 non-null  datetime64[ns]
 6   Total Cases   567998 non-null  int64
 7   Total Deaths  567998 non-null  int64
 8   Population    567998 non-null  int64
dtypes: category(2), datetime64[ns](1), int64(3), object(3)
memory usage: 36.4+ MB

Now make a new data frame without "Statewide Unallocated."

In [31]:
cases_deaths2 = cases_deaths[cases_deaths["County Name"] != "Statewide Unallocated"]
cases_deaths2 = cases_deaths2.reset_index()
cases_deaths2 = cases_deaths2.drop(columns = "index")
cases_deaths2

,County Name,State,countyFIPS,StateABV,stateFIPS,Date,Total Cases,Total Deaths,Population
0,Autauga,Alabama,01001,AL,1,2020-01-22,0,0,55869
1,Autauga,Alabama,01001,AL,1,2020-01-23,0,0,55869
2,Autauga,Alabama,01001,AL,1,2020-01-24,0,0,55869
3,Autauga,Alabama,01001,AL,1,2020-01-25,0,0,55869
4,Autauga,Alabama,01001,AL,1,2020-01-26,0,0,55869
...,...,...,...,...,...,...,...,...,...
559093,Weston,Wyoming,56045,WY,56,2020-07-13,3,0,6927
559094,Weston,Wyoming,56045,WY,56,2020-07-14,3,0,6927
559095,Weston,Wyoming,56045,WY,56,2020-07-15,3,0,6927
559096,Weston,Wyoming,56045,WY,56,2020-07-16,3,0,6927
559097,Weston,Wyoming,56045,WY,56,2020-07-17,3,0,6927

### State Level Data

Now create a data frame that summarizes the data for each state.

In [32]:
### First for Alabama
### Aggregate data
StateData = cases_deaths[cases_deaths['State'] == "Alabama"].groupby("Date").agg(
        TotalCases = pd.NamedAgg(column = "Total Cases", aggfunc = sum),
        TotalDeaths = pd.NamedAgg(column = "Total Deaths", aggfunc = sum),
        Population = pd.NamedAgg(column = "Population", aggfunc = sum))

### Make a vector of the state and its FIPS
state = np.repeat("Alabama", len(cases_deaths["Date"].unique()))
stateABV = np.repeat("AL", len(cases_deaths["Date"].unique()))
statefips = np.repeat('1', len(cases_deaths["Date"].unique()))

### Grab dates
date = cases_deaths["Date"].unique()

### Insert into State Data
StateData.insert(0, "stateFIPS", statefips)
StateData.insert(0, "StateABV", stateABV)
StateData.insert(0, "State", state)
StateData.insert(0, "Date", date)

### Now the rest
for state, fipsNum, stateABV in zip(cases_deaths["State"].unique()[1:], cases_deaths["stateFIPS"].unique()[1:], 
                                    cases_deaths["StateABV"].unique()[1:]) :
    ### Aggregate data
    myStateData = cases_deaths[cases_deaths['State'] == state].groupby("Date").agg(
        TotalCases = pd.NamedAgg(column = "Total Cases", aggfunc = sum),
        TotalDeaths = pd.NamedAgg(column = "Total Deaths", aggfunc = sum),
        Population = pd.NamedAgg(column = "Population", aggfunc = sum))
    
    ### Make a vector of the state/fips and grab dates
    mystate = np.repeat(state, len(cases_deaths["Date"].unique()))
    mystateABV = np.repeat(stateABV, len(cases_deaths["Date"].unique()))
    mystatefips = np.repeat(fipsNum, len(cases_deaths["Date"].unique()))
    mydate = cases_deaths["Date"].unique()
    
    ### Insert data
    myStateData.insert(0, "stateFIPS", mystatefips)
    myStateData.insert(0, "StateABV", mystateABV)
    myStateData.insert(0, "State", state)
    myStateData.insert(0, "Date", date)
    
    ### Stack state datas
    StateData = pd.concat([StateData, myStateData])

### Reset indicies
StateData = StateData.set_index(np.arange(0,len(StateData)))

StateData

,Date,State,StateABV,stateFIPS,TotalCases,TotalDeaths,Population
0,2020-01-22,Alabama,AL,1,0,0,4903185
1,2020-01-23,Alabama,AL,1,0,0,4903185
2,2020-01-24,Alabama,AL,1,0,0,4903185
3,2020-01-25,Alabama,AL,1,0,0,4903185
4,2020-01-26,Alabama,AL,1,0,0,4903185
...,...,...,...,...,...,...,...
9073,2020-07-13,Wyoming,WY,56,1903,21,578759
9074,2020-07-14,Wyoming,WY,56,1950,22,578759
9075,2020-07-15,Wyoming,WY,56,1985,22,578759
9076,2020-07-16,Wyoming,WY,56,2026,24,578759
9077,2020-07-17,Wyoming,WY,56,2069,24,578759

### USA Level Data

Now create a data set for the USA.

In [33]:
### First for date
### Aggregate data
USAData = StateData[StateData['Date'] == StateData["Date"].unique()[0]].groupby("Date").agg(
        TotalCases = pd.NamedAgg(column = "TotalCases", aggfunc = sum),
        TotalDeaths = pd.NamedAgg(column = "TotalDeaths", aggfunc = sum),
        Population = pd.NamedAgg(column = "Population", aggfunc = sum))

### Insert into usaData
USAData.insert(0, "Date", StateData["Date"].unique()[0])
USAData.insert(0, "Country", "United States")


### For the rest of dates
for day in StateData["Date"].unique()[1:]:
    ### Aggregate data
    myUSAData = StateData[StateData['Date'] == day].groupby("Date").agg(
        TotalCases = pd.NamedAgg(column = "TotalCases", aggfunc = sum),
        TotalDeaths = pd.NamedAgg(column = "TotalDeaths", aggfunc = sum),
        Population = pd.NamedAgg(column = "Population", aggfunc = sum))
        
    ### Insert date into data
    myUSAData.insert(0, "Date", day)
    myUSAData.insert(0, "Country", "United States")
    
    ### Stack state datas
    USAData = pd.concat([USAData, myUSAData])
    
    

### Reset indicies
USAData = USAData.set_index(np.arange(0,len(USAData)))

USAData

           Country       Date  TotalCases  TotalDeaths  Population
0    United States 2020-01-22           1            0   328233889
1    United States 2020-01-23           1            0   328233889
2    United States 2020-01-24           2            0   328233889
3    United States 2020-01-25           2            0   328233889
4    United States 2020-01-26           5            0   328233889
..             ...        ...         ...          ...         ...
173  United States 2020-07-13     3339687       134404   328233889
174  United States 2020-07-14     3408463       135320   328233889
175  United States 2020-07-15     3474828       136223   328233889
176  United States 2020-07-16     3551261       137100   328233889
177  United States 2020-07-17     3620797       138006   328233889

[178 rows x 5 columns]

The final Total Cases & Total Deaths nubers are only a bit off. Give or take 100. This is due to removal of data points earlier.

Fix column names in State data and USA data.

In [34]:
### Rename Columns
StateData = StateData.rename(columns = {"TotalCases" : "Total Cases",
                                        "TotalDeaths" : "Total Deaths"})
USAData = USAData.rename(columns = {"TotalCases" : "Total Cases",
                                        "TotalDeaths" : "Total Deaths"})

### New Cases & New Deaths

Use multiprocessing to: 
1) Calculate the number of new cases each day.

2) Calculate the number of new deaths each day.

In [35]:
### Import Pool from multiprocessing
from multiprocessing import Pool

#### County Data

In [36]:
### Create a parallelizing function
def parallel1(data, func, n_cores = 25):
    ### Split data by state into 25 sections
    splits = np.array_split(data["State"].unique(), 25)
    
    ### Create empty list
    data_split = []
    
    ### Add each split dataframe to the list
    for i in range(25):
        data_split.append(data[data["State"].isin(list(splits[i]))])
    
    ### Run 
    pool = Pool(n_cores)
    data1 = pd.concat(pool.map(func, data_split))
    pool.close()
    pool.join()
    return data1

In [37]:
### Define function to create new cases data
def newCases1(data):
    changeInCases = []
    ### For each state.
    for state in data["State"].unique():
        ### For each county in the state
        for county in data["County Name"][data["State"] == state].unique():
            ### Calculate diff in case for each day, keep first day
            changeInCases.extend(np.diff(data["Total Cases"][(data["County Name"] == county) &
                                                                         (data["State"] == state)],
                                             prepend = data["Total Cases"][(data["County Name"] == county) &
                                                                         (data["State"] == state)].iloc[0]))
    ### Add to data
    data["New Cases"] = changeInCases

    return data

In [38]:
cases_deaths2 = parallel1(cases_deaths2, newCases1)
cases_deaths2

,County Name,State,countyFIPS,StateABV,stateFIPS,Date,Total Cases,Total Deaths,Population,New Cases
0,Autauga,Alabama,01001,AL,1,2020-01-22,0,0,55869,0
1,Autauga,Alabama,01001,AL,1,2020-01-23,0,0,55869,0
2,Autauga,Alabama,01001,AL,1,2020-01-24,0,0,55869,0
3,Autauga,Alabama,01001,AL,1,2020-01-25,0,0,55869,0
4,Autauga,Alabama,01001,AL,1,2020-01-26,0,0,55869,0
...,...,...,...,...,...,...,...,...,...,...
559093,Weston,Wyoming,56045,WY,56,2020-07-13,3,0,6927,2
559094,Weston,Wyoming,56045,WY,56,2020-07-14,3,0,6927,0
559095,Weston,Wyoming,56045,WY,56,2020-07-15,3,0,6927,0
559096,Weston,Wyoming,56045,WY,56,2020-07-16,3,0,6927,0
559097,Weston,Wyoming,56045,WY,56,2020-07-17,3,0,6927,0

In [39]:
### Define function to create new deaths data
def newDeaths1(data):
    changeInDeaths = []
    ### For each state.
    for state in data["State"].unique():
        ### For each county in the state
        for county in data["County Name"][data["State"] == state].unique():
            ### Calculate diff in case for each day, keep first day
            changeInDeaths.extend(np.diff(data["Total Deaths"][(data["County Name"] == county) &
                                                                           (data["State"] == state)],
                                             prepend = data["Total Deaths"][(data["County Name"] == county) &
                                                                           (data["State"] == state)].iloc[0]))
            
    ### Add to data
    data["New Deaths"] = changeInDeaths
        
    return data

In [40]:
cases_deaths2 = parallel1(cases_deaths2, newDeaths1)
cases_deaths2

,County Name,State,countyFIPS,StateABV,stateFIPS,Date,Total Cases,Total Deaths,Population,New Cases,New Deaths
0,Autauga,Alabama,01001,AL,1,2020-01-22,0,0,55869,0,0
1,Autauga,Alabama,01001,AL,1,2020-01-23,0,0,55869,0,0
2,Autauga,Alabama,01001,AL,1,2020-01-24,0,0,55869,0,0
3,Autauga,Alabama,01001,AL,1,2020-01-25,0,0,55869,0,0
4,Autauga,Alabama,01001,AL,1,2020-01-26,0,0,55869,0,0
...,...,...,...,...,...,...,...,...,...,...,...
559093,Weston,Wyoming,56045,WY,56,2020-07-13,3,0,6927,2,0
559094,Weston,Wyoming,56045,WY,56,2020-07-14,3,0,6927,0,0
559095,Weston,Wyoming,56045,WY,56,2020-07-15,3,0,6927,0,0
559096,Weston,Wyoming,56045,WY,56,2020-07-16,3,0,6927,0,0
559097,Weston,Wyoming,56045,WY,56,2020-07-17,3,0,6927,0,0

### State Data

In [41]:
### Create a parallelizing function
def parallel2(data, func, n_cores = 25):
    ### Split data by state into 25 sections
    splits = np.array_split(data["State"].unique(), 25)
    
    ### Create empty list
    data_split = []
    
    ### Add each split dataframe to the list
    for i in range(25):
        data_split.append(data[data["State"].isin(list(splits[i]))])
    
    pool = Pool(n_cores)
    data1 = pd.concat(pool.map(func, data_split))
    pool.close()
    pool.join()
    return data1

In [42]:
### Define function to create new cases data
def newCases2(data):
    changeInCases = []
    ### For each state.
    for state in data["State"].unique():
        ### Calculate diff in case for each day, keep first day
        changeInCases.extend(np.diff(data["Total Cases"][data["State"] == state],
                                         prepend = data["Total Cases"][data["State"] == state].iloc[0]))
    ### Add to data
    data["New Cases"] = changeInCases

    return data

In [43]:
StateData = parallel2(StateData, newCases2)
StateData

,Date,State,StateABV,stateFIPS,Total Cases,Total Deaths,Population,New Cases
0,2020-01-22,Alabama,AL,1,0,0,4903185,0
1,2020-01-23,Alabama,AL,1,0,0,4903185,0
2,2020-01-24,Alabama,AL,1,0,0,4903185,0
3,2020-01-25,Alabama,AL,1,0,0,4903185,0
4,2020-01-26,Alabama,AL,1,0,0,4903185,0
...,...,...,...,...,...,...,...,...
9073,2020-07-13,Wyoming,WY,56,1903,21,578759,41
9074,2020-07-14,Wyoming,WY,56,1950,22,578759,47
9075,2020-07-15,Wyoming,WY,56,1985,22,578759,35
9076,2020-07-16,Wyoming,WY,56,2026,24,578759,41
9077,2020-07-17,Wyoming,WY,56,2069,24,578759,43

In [44]:
### Define function to create new deaths data
def newDeaths2(data):
    changeInDeaths = []
    ### For each state.
    for state in data["State"].unique():
        ### Calculate diff in case for each day, keep first day
        changeInDeaths.extend(np.diff(data["Total Deaths"][data["State"] == state],
                                         prepend = data["Total Deaths"][data["State"] == state].iloc[0]))
            
    ### Add to data
    data["New Deaths"] = changeInDeaths
        
    return data

In [45]:
StateData = parallel2(StateData, newDeaths2)
StateData

,Date,State,StateABV,stateFIPS,Total Cases,Total Deaths,Population,New Cases,New Deaths
0,2020-01-22,Alabama,AL,1,0,0,4903185,0,0
1,2020-01-23,Alabama,AL,1,0,0,4903185,0,0
2,2020-01-24,Alabama,AL,1,0,0,4903185,0,0
3,2020-01-25,Alabama,AL,1,0,0,4903185,0,0
4,2020-01-26,Alabama,AL,1,0,0,4903185,0,0
...,...,...,...,...,...,...,...,...,...
9073,2020-07-13,Wyoming,WY,56,1903,21,578759,41,0
9074,2020-07-14,Wyoming,WY,56,1950,22,578759,47,1
9075,2020-07-15,Wyoming,WY,56,1985,22,578759,35,0
9076,2020-07-16,Wyoming,WY,56,2026,24,578759,41,2
9077,2020-07-17,Wyoming,WY,56,2069,24,578759,43,0

### USA Data

In [46]:
### New Cases
USAData["New Cases"] = abs(np.diff(USAData["Total Cases"], prepend = USAData["Total Cases"].iloc[0]))

### New Deaths
USAData["New Deaths"] = abs(np.diff(USAData["Total Deaths"], prepend = USAData["Total Deaths"].iloc[0]))

USAData

,Country,Date,Total Cases,Total Deaths,Population,New Cases,New Deaths
0,United States,2020-01-22,1,0,328233889,0,0
1,United States,2020-01-23,1,0,328233889,0,0
2,United States,2020-01-24,2,0,328233889,1,0
3,United States,2020-01-25,2,0,328233889,0,0
4,United States,2020-01-26,5,0,328233889,3,0
...,...,...,...,...,...,...,...
173,United States,2020-07-13,3339687,134404,328233889,56684,341
174,United States,2020-07-14,3408463,135320,328233889,68776,916
175,United States,2020-07-15,3474828,136223,328233889,66365,903
176,United States,2020-07-16,3551261,137100,328233889,76433,877
177,United States,2020-07-17,3620797,138006,328233889,69536,906

### Proportions

County data.

In [47]:
### Percent of population that have cases.
cases_deaths2["%Cases"] = np.where(cases_deaths2["Population"] != 0,
                                   round((cases_deaths2["Total Cases"] / cases_deaths2["Population"]) * 100, 3),
                                   0)

### Percent of population that have died.
cases_deaths2["%Deaths"] = np.where(cases_deaths2["Population"] != 0,
                                    round((cases_deaths2["Total Deaths"] / cases_deaths2["Population"]) * 100, 3),
                                    0)

cases_deaths2

,County Name,State,countyFIPS,StateABV,stateFIPS,Date,Total Cases,Total Deaths,Population,New Cases,New Deaths,%Cases,%Deaths
0,Autauga,Alabama,01001,AL,1,2020-01-22,0,0,55869,0,0,0.000,0.0
1,Autauga,Alabama,01001,AL,1,2020-01-23,0,0,55869,0,0,0.000,0.0
2,Autauga,Alabama,01001,AL,1,2020-01-24,0,0,55869,0,0,0.000,0.0
3,Autauga,Alabama,01001,AL,1,2020-01-25,0,0,55869,0,0,0.000,0.0
4,Autauga,Alabama,01001,AL,1,2020-01-26,0,0,55869,0,0,0.000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
559093,Weston,Wyoming,56045,WY,56,2020-07-13,3,0,6927,2,0,0.043,0.0
559094,Weston,Wyoming,56045,WY,56,2020-07-14,3,0,6927,0,0,0.043,0.0
559095,Weston,Wyoming,56045,WY,56,2020-07-15,3,0,6927,0,0,0.043,0.0
559096,Weston,Wyoming,56045,WY,56,2020-07-16,3,0,6927,0,0,0.043,0.0
559097,Weston,Wyoming,56045,WY,56,2020-07-17,3,0,6927,0,0,0.043,0.0

State data.

In [48]:
### Percent of population that have cases.
StateData["%Cases"] = np.where(StateData["Population"] != 0,
                               round((StateData["Total Cases"] / StateData["Population"]) * 100, 3),
                               0)

### Percent of population that have died.
StateData["%Deaths"] = np.where(StateData["Population"] != 0,
                                round((StateData["Total Deaths"] / StateData["Population"]) * 100, 3),
                                0)

StateData

,Date,State,StateABV,stateFIPS,Total Cases,Total Deaths,Population,New Cases,New Deaths,%Cases,%Deaths
0,2020-01-22,Alabama,AL,1,0,0,4903185,0,0,0.000,0.000
1,2020-01-23,Alabama,AL,1,0,0,4903185,0,0,0.000,0.000
2,2020-01-24,Alabama,AL,1,0,0,4903185,0,0,0.000,0.000
3,2020-01-25,Alabama,AL,1,0,0,4903185,0,0,0.000,0.000
4,2020-01-26,Alabama,AL,1,0,0,4903185,0,0,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...
9073,2020-07-13,Wyoming,WY,56,1903,21,578759,41,0,0.329,0.004
9074,2020-07-14,Wyoming,WY,56,1950,22,578759,47,1,0.337,0.004
9075,2020-07-15,Wyoming,WY,56,1985,22,578759,35,0,0.343,0.004
9076,2020-07-16,Wyoming,WY,56,2026,24,578759,41,2,0.350,0.004
9077,2020-07-17,Wyoming,WY,56,2069,24,578759,43,0,0.357,0.004

Country data.

In [49]:
### Percent of population that have cases.
USAData["%Cases"] = np.where(USAData["Population"] != 0,
                             round((USAData["Total Cases"] / USAData["Population"]) * 100, 3),
                             0)

### Percent of population that have died.
USAData["%Deaths"] = np.where(USAData["Population"] != 0,
                              round((USAData["Total Deaths"] / USAData["Population"]) * 100, 3),
                              0)

USAData

,Country,Date,Total Cases,Total Deaths,Population,New Cases,New Deaths,%Cases,%Deaths
0,United States,2020-01-22,1,0,328233889,0,0,0.000,0.000
1,United States,2020-01-23,1,0,328233889,0,0,0.000,0.000
2,United States,2020-01-24,2,0,328233889,1,0,0.000,0.000
3,United States,2020-01-25,2,0,328233889,0,0,0.000,0.000
4,United States,2020-01-26,5,0,328233889,3,0,0.000,0.000
...,...,...,...,...,...,...,...,...,...
173,United States,2020-07-13,3339687,134404,328233889,56684,341,1.017,0.041
174,United States,2020-07-14,3408463,135320,328233889,68776,916,1.038,0.041
175,United States,2020-07-15,3474828,136223,328233889,66365,903,1.059,0.042
176,United States,2020-07-16,3551261,137100,328233889,76433,877,1.082,0.042
177,United States,2020-07-17,3620797,138006,328233889,69536,906,1.103,0.042

### Logarithmic Scales

County data.

In [50]:
cases_deaths2["log(Total Cases)"] = round(np.log(cases_deaths2["Total Cases"]), 3)

cases_deaths2["log(Total Deaths)"] = round(np.log(cases_deaths2["Total Deaths"]), 3)

cases_deaths2["log(New Cases)"] = round(np.log(cases_deaths2["New Cases"]), 3)

cases_deaths2["log(New Deaths)"] = round(np.log(cases_deaths2["New Deaths"]), 3)

cases_deaths2

/home/hcup-server2/.local/lib/python3.7/site-packages/pandas/core/series.py:679: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/home/hcup-server2/.local/lib/python3.7/site-packages/pandas/core/series.py:679: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

,County Name,State,countyFIPS,StateABV,stateFIPS,Date,Total Cases,Total Deaths,Population,New Cases,New Deaths,%Cases,%Deaths,log(Total Cases),log(Total Deaths),log(New Cases),log(New Deaths)
0,Autauga,Alabama,01001,AL,1,2020-01-22,0,0,55869,0,0,0.000,0.0,-inf,-inf,-inf,-inf
1,Autauga,Alabama,01001,AL,1,2020-01-23,0,0,55869,0,0,0.000,0.0,-inf,-inf,-inf,-inf
2,Autauga,Alabama,01001,AL,1,2020-01-24,0,0,55869,0,0,0.000,0.0,-inf,-inf,-inf,-inf
3,Autauga,Alabama,01001,AL,1,2020-01-25,0,0,55869,0,0,0.000,0.0,-inf,-inf,-inf,-inf
4,Autauga,Alabama,01001,AL,1,2020-01-26,0,0,55869,0,0,0.000,0.0,-inf,-inf,-inf,-inf
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
559093,Weston,Wyoming,56045,WY,56,2020-07-13,3,0,6927,2,0,0.043,0.0,1.099,-inf,0.693,-inf
559094,Weston,Wyoming,56045,WY,56,2020-07-14,3,0,6927,0,0,0.043,0.0,1.099,-inf,-inf,-inf
559095,Weston,Wyoming,56045,WY,56,2020-07-15,3,0,6927,0,0,0.043,0.0,1.099,-inf,-inf,-inf
559096,Weston,Wyoming,56045,WY,56,2020-07-16,3,0,6927,0,0,0.043,0.0,1.099,-inf,-inf,-inf
559097,Weston,Wyoming,56045,WY,56,2020-07-17,3,0,6927,0,0,0.043,0.0,1.099,-inf,-inf,-inf

State data.

In [51]:
StateData["log(Total Cases)"] = round(np.log(StateData["Total Cases"]), 3)

StateData["log(Total Deaths)"] = round(np.log(StateData["Total Deaths"]), 3)

StateData["log(New Cases)"] = round(np.log(StateData["New Cases"]), 3)

StateData["log(New Deaths)"] = round(np.log(StateData["New Deaths"]), 3)

StateData

/home/hcup-server2/.local/lib/python3.7/site-packages/pandas/core/series.py:679: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/home/hcup-server2/.local/lib/python3.7/site-packages/pandas/core/series.py:679: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

,Date,State,StateABV,stateFIPS,Total Cases,Total Deaths,Population,New Cases,New Deaths,%Cases,%Deaths,log(Total Cases),log(Total Deaths),log(New Cases),log(New Deaths)
0,2020-01-22,Alabama,AL,1,0,0,4903185,0,0,0.000,0.000,-inf,-inf,-inf,-inf
1,2020-01-23,Alabama,AL,1,0,0,4903185,0,0,0.000,0.000,-inf,-inf,-inf,-inf
2,2020-01-24,Alabama,AL,1,0,0,4903185,0,0,0.000,0.000,-inf,-inf,-inf,-inf
3,2020-01-25,Alabama,AL,1,0,0,4903185,0,0,0.000,0.000,-inf,-inf,-inf,-inf
4,2020-01-26,Alabama,AL,1,0,0,4903185,0,0,0.000,0.000,-inf,-inf,-inf,-inf
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9073,2020-07-13,Wyoming,WY,56,1903,21,578759,41,0,0.329,0.004,7.551,3.045,3.714,-inf
9074,2020-07-14,Wyoming,WY,56,1950,22,578759,47,1,0.337,0.004,7.576,3.091,3.850,0.000
9075,2020-07-15,Wyoming,WY,56,1985,22,578759,35,0,0.343,0.004,7.593,3.091,3.555,-inf
9076,2020-07-16,Wyoming,WY,56,2026,24,578759,41,2,0.350,0.004,7.614,3.178,3.714,0.693
9077,2020-07-17,Wyoming,WY,56,2069,24,578759,43,0,0.357,0.004,7.635,3.178,3.761,-inf

Country data.

In [52]:
USAData["log(Total Cases)"] = round(np.log(USAData["Total Cases"]), 3)

USAData["log(Total Deaths)"] = round(np.log(USAData["Total Deaths"]), 3)

USAData["log(New Cases)"] = round(np.log(USAData["New Cases"]), 3)

USAData["log(New Deaths)"] = round(np.log(USAData["New Deaths"]), 3)

USAData

/home/hcup-server2/.local/lib/python3.7/site-packages/pandas/core/series.py:679: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

,Country,Date,Total Cases,Total Deaths,Population,New Cases,New Deaths,%Cases,%Deaths,log(Total Cases),log(Total Deaths),log(New Cases),log(New Deaths)
0,United States,2020-01-22,1,0,328233889,0,0,0.000,0.000,0.000,-inf,-inf,-inf
1,United States,2020-01-23,1,0,328233889,0,0,0.000,0.000,0.000,-inf,-inf,-inf
2,United States,2020-01-24,2,0,328233889,1,0,0.000,0.000,0.693,-inf,0.000,-inf
3,United States,2020-01-25,2,0,328233889,0,0,0.000,0.000,0.693,-inf,-inf,-inf
4,United States,2020-01-26,5,0,328233889,3,0,0.000,0.000,1.609,-inf,1.099,-inf
...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,United States,2020-07-13,3339687,134404,328233889,56684,341,1.017,0.041,15.021,11.809,10.945,5.832
174,United States,2020-07-14,3408463,135320,328233889,68776,916,1.038,0.041,15.042,11.815,11.139,6.820
175,United States,2020-07-15,3474828,136223,328233889,66365,903,1.059,0.042,15.061,11.822,11.103,6.806
176,United States,2020-07-16,3551261,137100,328233889,76433,877,1.082,0.042,15.083,11.828,11.244,6.777
177,United States,2020-07-17,3620797,138006,328233889,69536,906,1.103,0.042,15.102,11.835,11.150,6.809

### Finalize Cases & Deaths Data

Change data types in State and USA data.

In [53]:
StateData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9078 entries, 0 to 9077
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               9078 non-null   datetime64[ns]
 1   State              9078 non-null   object
 2   StateABV           9078 non-null   object
 3   stateFIPS          9078 non-null   object
 4   Total Cases        9078 non-null   int64
 5   Total Deaths       9078 non-null   int64
 6   Population         9078 non-null   int64
 7   New Cases          9078 non-null   int64
 8   New Deaths         9078 non-null   int64
 9   %Cases             9078 non-null   float64
 10  %Deaths            9078 non-null   float64
 11  log(Total Cases)   9078 non-null   float64
 12  log(Total Deaths)  9078 non-null   float64
 13  log(New Cases)     9075 non-null   float64
 14  log(New Deaths)    9067 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(5), object(3)
memory usage: 1.1+ MB

In [54]:
StateData = StateData.astype({"State" : "category",
                              "stateFIPS" : "str"})
StateData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9078 entries, 0 to 9077
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               9078 non-null   datetime64[ns]
 1   State              9078 non-null   category
 2   StateABV           9078 non-null   object
 3   stateFIPS          9078 non-null   object
 4   Total Cases        9078 non-null   int64
 5   Total Deaths       9078 non-null   int64
 6   Population         9078 non-null   int64
 7   New Cases          9078 non-null   int64
 8   New Deaths         9078 non-null   int64
 9   %Cases             9078 non-null   float64
 10  %Deaths            9078 non-null   float64
 11  log(Total Cases)   9078 non-null   float64
 12  log(Total Deaths)  9078 non-null   float64
 13  log(New Cases)     9075 non-null   float64
 14  log(New Deaths)    9067 non-null   float64
dtypes: category(1), datetime64[ns](1), float64(6), int64(5), object(2)
memory usage: 1.1+ MB

In [55]:
USAData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 178 entries, 0 to 177
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country            178 non-null    object
 1   Date               178 non-null    datetime64[ns]
 2   Total Cases        178 non-null    int64
 3   Total Deaths       178 non-null    int64
 4   Population         178 non-null    int64
 5   New Cases          178 non-null    int64
 6   New Deaths         178 non-null    int64
 7   %Cases             178 non-null    float64
 8   %Deaths            178 non-null    float64
 9   log(Total Cases)   178 non-null    float64
 10  log(Total Deaths)  178 non-null    float64
 11  log(New Cases)     178 non-null    float64
 12  log(New Deaths)    178 non-null    float64
dtypes: datetime64[ns](1), float64(6), int64(5), object(1)
memory usage: 19.5+ KB

In [56]:
USAData = USAData.astype({"Country" : "category"})
USAData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 178 entries, 0 to 177
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country            178 non-null    category
 1   Date               178 non-null    datetime64[ns]
 2   Total Cases        178 non-null    int64
 3   Total Deaths       178 non-null    int64
 4   Population         178 non-null    int64
 5   New Cases          178 non-null    int64
 6   New Deaths         178 non-null    int64
 7   %Cases             178 non-null    float64
 8   %Deaths            178 non-null    float64
 9   log(Total Cases)   178 non-null    float64
 10  log(Total Deaths)  178 non-null    float64
 11  log(New Cases)     178 non-null    float64
 12  log(New Deaths)    178 non-null    float64
dtypes: category(1), datetime64[ns](1), float64(6), int64(5)
memory usage: 18.3 KB

Save cases_deaths2 as county data.

In [57]:
CountyData = cases_deaths2

# Google Mobility Data Preporcessing

### About the Data

The mobility data for this project comes from Google's open source Covid-19 Community Mobility Reports.

The data constists of anonymized aggregated location data.

The data tracks movement trends over time by geography, across different categories of places such as retail and recreation, groceries and pharmacies, parks, transit stations, workplaces, and residential.

Changes for each day are compared to a baseline value for that day of the week:

- The baseline is the median value, for the corresponding day of the week, during the 5-week period Jan 3–Feb 6, 2020 (pre-pandemic).

- __The datasets show trends over several months with the most recent data representing approximately 2-3 days ago—this is how long it takes to produce the datasets.__

<br>

#### Place categories
- Grocery & pharmacy
    - Mobility trends for places like grocery markets, food warehouses, farmers markets, specialty food shops, drug stores, and pharmacies.

- Parks
    - Mobility trends for places like local parks, national parks, public beaches, marinas, dog parks, plazas, and public gardens.

- Transit stations
    - Mobility trends for places like public transport hubs such as subway, bus, and train stations.

- Retail & recreation
    - Mobility trends for places like restaurants, cafes, shopping centers, theme parks, museums, libraries, and movie theaters.

- Residential
    - Mobility trends for places of residence.

- Workplaces
    - Mobility trends for places of work.


<br>

No personally identifiable information, such as an individual’s location, contacts or movement, is made available at any point.

This data will be available for a limited time, as long as public health officials find it useful in their work to stop the spread of COVID-19.

The data can be found here: https://www.google.com/covid19/mobility/

#### Import Data

To unsure that we always have a copy of the data saved in the environment, every time the data is imported it will be saved.

In [58]:
### Google Mobility data
!curl https://www.gstatic.com/covid19/mobility/Global_Mobility_Report.csv?cachebust=7d0cb7d254d29111 --output data/mobility.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 44.7M  100 44.7M    0     0  73.3M      0 --:--:-- --:--:-- --:--:-- 73.3M

Load in mobility data.

In [59]:
GoogleMobility = pd.read_csv("data/mobility.csv", dtype = "str")
GoogleMobility

,country_region_code,country_region,sub_region_1,sub_region_2,iso_3166_2_code,census_fips_code,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,AE,United Arab Emirates,NaN,NaN,NaN,NaN,2020-02-15,0,4,5,0,2,1
1,AE,United Arab Emirates,NaN,NaN,NaN,NaN,2020-02-16,1,4,4,1,2,1
2,AE,United Arab Emirates,NaN,NaN,NaN,NaN,2020-02-17,-1,1,5,1,2,1
3,AE,United Arab Emirates,NaN,NaN,NaN,NaN,2020-02-18,-2,1,5,0,2,1
4,AE,United Arab Emirates,NaN,NaN,NaN,NaN,2020-02-19,-2,0,4,-1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
682261,ZW,Zimbabwe,Midlands Province,NaN,ZW-MI,NaN,2020-07-10,NaN,NaN,NaN,NaN,1,NaN
682262,ZW,Zimbabwe,Midlands Province,NaN,ZW-MI,NaN,2020-07-11,NaN,NaN,NaN,NaN,18,NaN
682263,ZW,Zimbabwe,Midlands Province,NaN,ZW-MI,NaN,2020-07-12,NaN,NaN,NaN,NaN,21,NaN
682264,ZW,Zimbabwe,Midlands Province,NaN,ZW-MI,NaN,2020-07-13,NaN,NaN,NaN,NaN,-3,NaN
682265,ZW,Zimbabwe,Midlands Province,NaN,ZW-MI,NaN,2020-07-14,NaN,NaN,NaN,NaN,-4,NaN

This dataset countains world wide information. Filter out anything that is not the United States.

In [60]:
### Keep only US
GoogleMobility = GoogleMobility[GoogleMobility["country_region_code"] == "US"]
GoogleMobility

,country_region_code,country_region,sub_region_1,sub_region_2,iso_3166_2_code,census_fips_code,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
264404,US,United States,NaN,NaN,NaN,NaN,2020-02-15,6,2,15,3,2,-1
264405,US,United States,NaN,NaN,NaN,NaN,2020-02-16,7,1,16,2,0,-1
264406,US,United States,NaN,NaN,NaN,NaN,2020-02-17,6,0,28,-9,-24,5
264407,US,United States,NaN,NaN,NaN,NaN,2020-02-18,0,-1,6,1,0,1
264408,US,United States,NaN,NaN,NaN,NaN,2020-02-19,2,0,8,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
666159,US,United States,Wyoming,Weston County,NaN,56045,2020-07-08,NaN,NaN,NaN,NaN,-18,NaN
666160,US,United States,Wyoming,Weston County,NaN,56045,2020-07-09,NaN,NaN,NaN,NaN,-20,NaN
666161,US,United States,Wyoming,Weston County,NaN,56045,2020-07-10,NaN,NaN,NaN,NaN,-24,NaN
666162,US,United States,Wyoming,Weston County,NaN,56045,2020-07-13,NaN,NaN,NaN,NaN,-30,NaN
666163,US,United States,Wyoming,Weston County,NaN,56045,2020-07-14,NaN,NaN,NaN,NaN,-25,NaN

Luckily, we can separate the data into county, state, and country levels.

In [61]:
### Mobility data for whole country
GoogleUsaMobility = GoogleMobility[GoogleMobility["sub_region_1"].isnull()]

### Mobility data for states
GoogleStateMobility = GoogleMobility[(GoogleMobility["sub_region_1"].isnull() != True) & (GoogleMobility["sub_region_2"].isnull())]

### Mobility data for counties
GoogleCountyMobility = GoogleMobility[GoogleMobility["sub_region_2"].isnull() != True]

In [62]:
GoogleUsaMobility

,country_region_code,country_region,sub_region_1,sub_region_2,iso_3166_2_code,census_fips_code,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
264404,US,United States,NaN,NaN,NaN,NaN,2020-02-15,6,2,15,3,2,-1
264405,US,United States,NaN,NaN,NaN,NaN,2020-02-16,7,1,16,2,0,-1
264406,US,United States,NaN,NaN,NaN,NaN,2020-02-17,6,0,28,-9,-24,5
264407,US,United States,NaN,NaN,NaN,NaN,2020-02-18,0,-1,6,1,0,1
264408,US,United States,NaN,NaN,NaN,NaN,2020-02-19,2,0,8,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
264550,US,United States,NaN,NaN,NaN,NaN,2020-07-10,-18,-4,43,-31,-37,11
264551,US,United States,NaN,NaN,NaN,NaN,2020-07-11,-19,0,62,-21,-12,4
264552,US,United States,NaN,NaN,NaN,NaN,2020-07-12,-17,-3,64,-23,-15,3
264553,US,United States,NaN,NaN,NaN,NaN,2020-07-13,-13,-2,53,-31,-38,10
264554,US,United States,NaN,NaN,NaN,NaN,2020-07-14,-12,0,59,-31,-38,11

In [63]:
GoogleStateMobility

,country_region_code,country_region,sub_region_1,sub_region_2,iso_3166_2_code,census_fips_code,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
264555,US,United States,Alabama,NaN,US-AL,NaN,2020-02-15,5,2,39,7,2,-1
264556,US,United States,Alabama,NaN,US-AL,NaN,2020-02-16,0,-2,-7,3,-1,1
264557,US,United States,Alabama,NaN,US-AL,NaN,2020-02-17,3,0,17,7,-17,4
264558,US,United States,Alabama,NaN,US-AL,NaN,2020-02-18,-4,-3,-11,-1,1,2
264559,US,United States,Alabama,NaN,US-AL,NaN,2020-02-19,4,1,6,4,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
663319,US,United States,Wyoming,NaN,US-WY,NaN,2020-07-10,8,30,NaN,49,-26,4
663320,US,United States,Wyoming,NaN,US-WY,NaN,2020-07-11,7,31,328,51,-8,-1
663321,US,United States,Wyoming,NaN,US-WY,NaN,2020-07-12,18,35,312,43,-10,-2
663322,US,United States,Wyoming,NaN,US-WY,NaN,2020-07-13,17,29,299,36,-25,3
663323,US,United States,Wyoming,NaN,US-WY,NaN,2020-07-14,17,29,292,32,-24,4

In [64]:
GoogleCountyMobility

,country_region_code,country_region,sub_region_1,sub_region_2,iso_3166_2_code,census_fips_code,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
264706,US,United States,Alabama,Autauga County,NaN,01001,2020-02-15,5,7,NaN,NaN,-4,NaN
264707,US,United States,Alabama,Autauga County,NaN,01001,2020-02-16,0,1,-23,NaN,-4,NaN
264708,US,United States,Alabama,Autauga County,NaN,01001,2020-02-17,8,0,NaN,NaN,-27,5
264709,US,United States,Alabama,Autauga County,NaN,01001,2020-02-18,-2,0,NaN,NaN,2,0
264710,US,United States,Alabama,Autauga County,NaN,01001,2020-02-19,-2,0,NaN,NaN,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
666159,US,United States,Wyoming,Weston County,NaN,56045,2020-07-08,NaN,NaN,NaN,NaN,-18,NaN
666160,US,United States,Wyoming,Weston County,NaN,56045,2020-07-09,NaN,NaN,NaN,NaN,-20,NaN
666161,US,United States,Wyoming,Weston County,NaN,56045,2020-07-10,NaN,NaN,NaN,NaN,-24,NaN
666162,US,United States,Wyoming,Weston County,NaN,56045,2020-07-13,NaN,NaN,NaN,NaN,-30,NaN
666163,US,United States,Wyoming,Weston County,NaN,56045,2020-07-14,NaN,NaN,NaN,NaN,-25,NaN

We can drop some uneccesary columns from each dataframe level.

In [65]:
### Drop columns from usaMobility
GoogleUsaMobility = GoogleUsaMobility.drop(columns = ["country_region_code", "sub_region_1",
                                          "sub_region_2", "iso_3166_2_code",
                                          "census_fips_code"])

### Drop columns from stateMobility
GoogleStateMobility = GoogleStateMobility.drop(columns = ["country_region_code", "country_region", 
                                              "sub_region_2", "iso_3166_2_code", 
                                              "census_fips_code"])

### Drop columns from countyMobility
GoogleCountyMobility = GoogleCountyMobility.drop(columns = ["country_region_code", "country_region",
                                                "sub_region_1", "iso_3166_2_code"])

In [66]:
GoogleUsaMobility

,country_region,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
264404,United States,2020-02-15,6,2,15,3,2,-1
264405,United States,2020-02-16,7,1,16,2,0,-1
264406,United States,2020-02-17,6,0,28,-9,-24,5
264407,United States,2020-02-18,0,-1,6,1,0,1
264408,United States,2020-02-19,2,0,8,1,1,0
...,...,...,...,...,...,...,...,...
264550,United States,2020-07-10,-18,-4,43,-31,-37,11
264551,United States,2020-07-11,-19,0,62,-21,-12,4
264552,United States,2020-07-12,-17,-3,64,-23,-15,3
264553,United States,2020-07-13,-13,-2,53,-31,-38,10
264554,United States,2020-07-14,-12,0,59,-31,-38,11

In [67]:
GoogleStateMobility

,sub_region_1,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
264555,Alabama,2020-02-15,5,2,39,7,2,-1
264556,Alabama,2020-02-16,0,-2,-7,3,-1,1
264557,Alabama,2020-02-17,3,0,17,7,-17,4
264558,Alabama,2020-02-18,-4,-3,-11,-1,1,2
264559,Alabama,2020-02-19,4,1,6,4,1,0
...,...,...,...,...,...,...,...,...
663319,Wyoming,2020-07-10,8,30,NaN,49,-26,4
663320,Wyoming,2020-07-11,7,31,328,51,-8,-1
663321,Wyoming,2020-07-12,18,35,312,43,-10,-2
663322,Wyoming,2020-07-13,17,29,299,36,-25,3
663323,Wyoming,2020-07-14,17,29,292,32,-24,4

In [68]:
GoogleCountyMobility

,sub_region_2,census_fips_code,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
264706,Autauga County,01001,2020-02-15,5,7,NaN,NaN,-4,NaN
264707,Autauga County,01001,2020-02-16,0,1,-23,NaN,-4,NaN
264708,Autauga County,01001,2020-02-17,8,0,NaN,NaN,-27,5
264709,Autauga County,01001,2020-02-18,-2,0,NaN,NaN,2,0
264710,Autauga County,01001,2020-02-19,-2,0,NaN,NaN,2,0
...,...,...,...,...,...,...,...,...,...
666159,Weston County,56045,2020-07-08,NaN,NaN,NaN,NaN,-18,NaN
666160,Weston County,56045,2020-07-09,NaN,NaN,NaN,NaN,-20,NaN
666161,Weston County,56045,2020-07-10,NaN,NaN,NaN,NaN,-24,NaN
666162,Weston County,56045,2020-07-13,NaN,NaN,NaN,NaN,-30,NaN
666163,Weston County,56045,2020-07-14,NaN,NaN,NaN,NaN,-25,NaN

Now rename columns to be more usable and to match covid-19 data naming convention.

Also make Date as datetime64.

In [69]:
### Rename usaMobility columns
GoogleUsaMobility = GoogleUsaMobility.rename(columns = {"country_region" : "Country",
                                            "date" : "Date",
                                            "retail_and_recreation_percent_change_from_baseline" : "%Retail/Rec Change",
                                            "grocery_and_pharmacy_percent_change_from_baseline" : "%Grocery/Pharm Change",
                                            "parks_percent_change_from_baseline" : "%Parks Change",
                                            "transit_stations_percent_change_from_baseline" : "%Transit Change",
                                            "workplaces_percent_change_from_baseline" : "%Workplace Change",
                                            "residential_percent_change_from_baseline" : "%Residential Change"})
GoogleUsaMobility = GoogleUsaMobility.astype({"Date" : "datetime64"})


### Rename stateMobility columns
GoogleStateMobility = GoogleStateMobility.rename(columns = {"sub_region_1" : "State",
                                            "date" : "Date",
                                            "retail_and_recreation_percent_change_from_baseline" : "%Retail/Rec Change",
                                            "grocery_and_pharmacy_percent_change_from_baseline" : "%Grocery/Pharm Change",
                                            "parks_percent_change_from_baseline" : "%Parks Change",
                                            "transit_stations_percent_change_from_baseline" : "%Transit Change",
                                            "workplaces_percent_change_from_baseline" : "%Workplace Change",
                                            "residential_percent_change_from_baseline" : "%Residential Change"})
GoogleStateMobility = GoogleStateMobility.astype({"Date" : "datetime64"})


### Rename countyMobility columns
GoogleCountyMobility = GoogleCountyMobility.rename(columns = {"sub_region_2" : "County Name",
                                            "census_fips_code" : "countyFIPS",
                                            "date" : "Date",
                                            "retail_and_recreation_percent_change_from_baseline" : "%Retail/Rec Change",
                                            "grocery_and_pharmacy_percent_change_from_baseline" : "%Grocery/Pharm Change",
                                            "parks_percent_change_from_baseline" : "%Parks Change",
                                            "transit_stations_percent_change_from_baseline" : "%Transit Change",
                                            "workplaces_percent_change_from_baseline" : "%Workplace Change",
                                            "residential_percent_change_from_baseline" : "%Residential Change"})
GoogleCountyMobility = GoogleCountyMobility.astype({"Date" : "datetime64"})

In [70]:
GoogleUsaMobility

,Country,Date,%Retail/Rec Change,%Grocery/Pharm Change,%Parks Change,%Transit Change,%Workplace Change,%Residential Change
264404,United States,2020-02-15,6,2,15,3,2,-1
264405,United States,2020-02-16,7,1,16,2,0,-1
264406,United States,2020-02-17,6,0,28,-9,-24,5
264407,United States,2020-02-18,0,-1,6,1,0,1
264408,United States,2020-02-19,2,0,8,1,1,0
...,...,...,...,...,...,...,...,...
264550,United States,2020-07-10,-18,-4,43,-31,-37,11
264551,United States,2020-07-11,-19,0,62,-21,-12,4
264552,United States,2020-07-12,-17,-3,64,-23,-15,3
264553,United States,2020-07-13,-13,-2,53,-31,-38,10
264554,United States,2020-07-14,-12,0,59,-31,-38,11

In [71]:
GoogleStateMobility

,State,Date,%Retail/Rec Change,%Grocery/Pharm Change,%Parks Change,%Transit Change,%Workplace Change,%Residential Change
264555,Alabama,2020-02-15,5,2,39,7,2,-1
264556,Alabama,2020-02-16,0,-2,-7,3,-1,1
264557,Alabama,2020-02-17,3,0,17,7,-17,4
264558,Alabama,2020-02-18,-4,-3,-11,-1,1,2
264559,Alabama,2020-02-19,4,1,6,4,1,0
...,...,...,...,...,...,...,...,...
663319,Wyoming,2020-07-10,8,30,NaN,49,-26,4
663320,Wyoming,2020-07-11,7,31,328,51,-8,-1
663321,Wyoming,2020-07-12,18,35,312,43,-10,-2
663322,Wyoming,2020-07-13,17,29,299,36,-25,3
663323,Wyoming,2020-07-14,17,29,292,32,-24,4

In [72]:
GoogleCountyMobility

,County Name,countyFIPS,Date,%Retail/Rec Change,%Grocery/Pharm Change,%Parks Change,%Transit Change,%Workplace Change,%Residential Change
264706,Autauga County,01001,2020-02-15,5,7,NaN,NaN,-4,NaN
264707,Autauga County,01001,2020-02-16,0,1,-23,NaN,-4,NaN
264708,Autauga County,01001,2020-02-17,8,0,NaN,NaN,-27,5
264709,Autauga County,01001,2020-02-18,-2,0,NaN,NaN,2,0
264710,Autauga County,01001,2020-02-19,-2,0,NaN,NaN,2,0
...,...,...,...,...,...,...,...,...,...
666159,Weston County,56045,2020-07-08,NaN,NaN,NaN,NaN,-18,NaN
666160,Weston County,56045,2020-07-09,NaN,NaN,NaN,NaN,-20,NaN
666161,Weston County,56045,2020-07-10,NaN,NaN,NaN,NaN,-24,NaN
666162,Weston County,56045,2020-07-13,NaN,NaN,NaN,NaN,-30,NaN
666163,Weston County,56045,2020-07-14,NaN,NaN,NaN,NaN,-25,NaN

In [73]:
### Re-label District of Columbia as DC
DCindex = list(GoogleStateMobility["State"][GoogleStateMobility["State"] == "District of Columbia"].index)
for index in DCindex:
    GoogleStateMobility["State"][index] = "DC"

/home/hcup-server2/.local/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

 #

# Deaths by Sex & Age (Country, State Level)

This data comes from the Centers of Disease Control and Prevention (CDC) and is provided by the National Center for Health Statistics.

It contains aggregated death data based on Country, State, Sex, and Age Group.

__NOTE__: "Number of deaths reported in this table are the total number of deaths received and coded as of the date of analysis, and do not represent all deaths that occurred in that period. Data during this period are incomplete because of the lag in time between when the death occurred and when the death certificate is completed, submitted to NCHS and processed for reporting purposes. This delay can range from 1 week to 8 weeks or more."

__NOTE__: One or more data cells have counts between 1–9 and have been suppressed in accordance with NCHS confidentiality standards.

Data can be found here: 
* Centers for Disease Control and Prevention. *Provisional Death Counts for Coronavirus Disease (COVID-19): Weekly State-Specific Data Updates*. 2020 April 2020. https://data.cdc.gov/NCHS/Provisional-COVID-19-Death-Counts-by-Sex-Age-and-S/9bhg-hcku

In [74]:
### Go grab data
!curl https://data.cdc.gov/api/views/9bhg-hcku/rows.csv?accessType=DOWNLOAD --output data/sexage.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  215k    0  215k    0     0   370k      0 --:--:-- --:--:-- --:--:--  370k

In [75]:
### Read in data
DeathsSexAge = pd.read_csv("data/sexage.csv")
DeathsSexAge

,Data as of,Start week,End Week,State,Sex,Age group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths",Footnote
0,07/15/2020,02/01/2020,07/11/2020,United States,All,Under 1 year,9.0,7557.0,69.0,2.0,14.0,90.0,NaN
1,07/15/2020,02/01/2020,07/11/2020,United States,All,1-4 years,8.0,1428.0,50.0,2.0,40.0,96.0,NaN
2,07/15/2020,02/01/2020,07/11/2020,United States,All,5-14 years,14.0,2173.0,72.0,3.0,47.0,130.0,NaN
3,07/15/2020,02/01/2020,07/11/2020,United States,All,15-24 years,157.0,13721.0,267.0,51.0,51.0,420.0,NaN
4,07/15/2020,02/01/2020,07/11/2020,United States,All,25-34 years,844.0,28847.0,1025.0,377.0,149.0,1628.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1411,07/15/2020,02/01/2020,07/11/2020,Puerto Rico,Female,75-84 years,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1412,07/15/2020,02/01/2020,07/11/2020,Puerto Rico,Female,85 years and over,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1413,07/15/2020,02/01/2020,07/11/2020,Puerto Rico,Female,All ages,NaN,406.0,42.0,NaN,NaN,47.0,One or more data cells have counts between 1–9...
1414,07/15/2020,02/01/2020,07/11/2020,Puerto Rico,Unknown,All ages,0.0,NaN,0.0,0.0,0.0,0.0,One or more data cells have counts between 1–9...
1415,07/15/2020,02/01/2020,07/11/2020,Puerto Rico Total,All,All Ages,24.0,1275.0,107.0,10.0,NaN,126.0,One or more data cells have counts between 1–9...

Only interested in Covid-19 Deaths.

In [76]:
DeathsSexAge = DeathsSexAge.drop(columns = ["Total Deaths",
                                            "Pneumonia Deaths",
                                            "Pneumonia and COVID-19 Deaths",
                                            "Influenza Deaths", 
                                            "Pneumonia, Influenza, or COVID-19 Deaths",
                                            "Footnote"])
DeathsSexAge

,Data as of,Start week,End Week,State,Sex,Age group,COVID-19 Deaths
0,07/15/2020,02/01/2020,07/11/2020,United States,All,Under 1 year,9.0
1,07/15/2020,02/01/2020,07/11/2020,United States,All,1-4 years,8.0
2,07/15/2020,02/01/2020,07/11/2020,United States,All,5-14 years,14.0
3,07/15/2020,02/01/2020,07/11/2020,United States,All,15-24 years,157.0
4,07/15/2020,02/01/2020,07/11/2020,United States,All,25-34 years,844.0
...,...,...,...,...,...,...,...
1411,07/15/2020,02/01/2020,07/11/2020,Puerto Rico,Female,75-84 years,0.0
1412,07/15/2020,02/01/2020,07/11/2020,Puerto Rico,Female,85 years and over,0.0
1413,07/15/2020,02/01/2020,07/11/2020,Puerto Rico,Female,All ages,NaN
1414,07/15/2020,02/01/2020,07/11/2020,Puerto Rico,Unknown,All ages,0.0
1415,07/15/2020,02/01/2020,07/11/2020,Puerto Rico Total,All,All Ages,24.0

In [77]:
### Drop Puerto Rico, Puerto Rico Total
PRindex = list(DeathsSexAge["State"][(DeathsSexAge["State"] == "Puerto Rico") | (DeathsSexAge["State"] == "Puerto Rico Total")].index)
DeathsSexAge = DeathsSexAge.drop(index = PRindex)
DeathsSexAge


### Rename DC
DCindex = list(DeathsSexAge["State"][DeathsSexAge["State"] == "District of Columbia"].index)
DeathsSexAge["State"][DCindex] = "DC"

DeathsSexAge["State"].unique()

/home/hcup-server2/.local/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

array(['United States', 'United States Total', 'Alabama', 'Alabama Total',
       'Alaska', 'Alaska Total', 'Arizona', 'Arizona Total', 'Arkansas',
       'Arkansas Total', 'California', 'California Total', 'Colorado',
       'Colorado Total', 'Connecticut', 'Connecticut Total', 'Delaware',
       'Delaware Total', 'DC', 'District of Columbia Total', 'Florida',
       'Florida Total', 'Georgia', 'Georgia Total', 'Hawaii',
       'Hawaii Total', 'Idaho', 'Idaho Total', 'Illinois',
       'Illinois Total', 'Indiana', 'Indiana Total', 'Iowa', 'Iowa Total',
       'Kansas', 'Kansas Total', 'Kentucky', 'Kentucky Total',
       'Louisiana', 'Louisiana Total', 'Maine', 'Maine Total', 'Maryland',
       'Maryland Total', 'Massachusetts', 'Massachusetts Total',
       'Michigan', 'Michigan Total', 'Minnesota', 'Minnesota Total',
       'Mississippi', 'Mississippi Total', 'Missouri', 'Missouri Total',
       'Montana', 'Montana Total', 'Nebraska', 'Nebraska Total', 'Nevada',
       'Nevada Total', 'New Hampshire', 'New Hampshire Total',
       'New Jersey', 'New Jersey Total', 'New Mexico', 'New Mexico Total',
       'New York', 'New York Total', 'New York City',
       'New York City Total', 'North Carolina', 'North Carolina Total',
       'North Dakota', 'North Dakota Total', 'Ohio', 'Ohio Total',
       'Oklahoma', 'Oklahoma Total', 'Oregon', 'Oregon Total',
       'Pennsylvania', 'Pennsylvania Total', 'Rhode Island',
       'Rhode Island Total', 'South Carolina', 'South Carolina Total',
       'South Dakota', 'South Dakota Total', 'Tennessee',
       'Tennessee Total', 'Texas', 'Texas Total', 'Utah', 'Utah Total',
       'Vermont', 'Vermont Total', 'Virginia', 'Virginia Total',
       'Washington', 'Washington Total', 'West Virginia',
       'West Virginia Total', 'Wisconsin', 'Wisconsin Total', 'Wyoming',
       'Wyoming Total'], dtype=object)

# 
#

# Deaths by Race (Country, State level)

This data comes from the Centers of Disease Control and Prevention (CDC) and is provided by the National Center for Health Statistics.

It contains aggregated death data based on Country, State, and Race.

__NOTE__: "The percent of deaths reported in this table are the total number of represent all deaths received and coded as of the date of analysis and do not represent all deaths that occurred in that period. Data are incomplete because of the lag in time between when the death occurred and when the death certificate is completed, submitted to NCHS and processed for reporting purposes. This delay can range from 1 week to 8 weeks or more, depending on the jurisdiction, age, and cause of death. Provisional counts reported here track approximately 1–2 weeks behind other published data sources on the number of COVID-19 deaths in the U.S. COVID-19 deaths are defined as having confirmed or presumed COVID-19, and are coded to ICD–10 code U07.1."

"Unweighted population percentages are based on the Single-Race Population Estimates from the U.S. Census Bureau, for the year 2018 (available from: https://wonder.cdc.gov/single-race-population.html )."

"Weighted population percentages are computed by multiplying county-level population counts by the count of COVID deaths for each county, summing to the state-level, and then estimating the percent of the population within each racial and ethnic group. These weighted population distributions therefore more accurately reflect the geographic locations where COVID outbreaks are occurring. Jurisdictions are included in this table if more than 100 deaths were received and processed by NCHS as of the data of analysis. 1. Race and Hispanic-origin categories are based on the 1997 Office of Management and Budget (OMB) standards (1,2), allowing for the presentation of data by single race and Hispanic origin. These race and Hispanic-origin groups—non-Hispanic single-race white, non-Hispanic single-race black or African American, non-Hispanic single-race American Indian or Alaska Native (AIAN), and non-Hispanic single-race Asian—differ from the bridged-race categories shown in most reports using mortality data. 2. Includes persons having origins in any of the original peoples of North and South America 3. Includes persons having origins in any of the original peoples of the Far East, Southeast Asia, or the Indian subcontinent. 4. Includes Native Hawaiian and Other Pacific Islander, more than one race, race unknown, and Hispanic origin unknown 5. Excludes New York City."

__NOTE__: One or more data cells have counts between 1–9 and have been suppressed in accordance with NCHS confidentiality standards.

Data can be found here:

* Centers for Disease Control and Prevention. *Provisional COVID-19 Death Counts by Sex, Age, and State*. 1 May 2020. <https://data.cdc.gov/NCHS/Provisional-Death-Counts-for-Coronavirus-Disease-C/pj7m-y5uh>

In [78]:
### Go grab data
!curl https://data.cdc.gov/api/views/pj7m-y5uh/rows.csv?accessType=DOWNLOAD --output data/race.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 22760    0 22760    0     0  57185      0 --:--:-- --:--:-- --:--:-- 57042

In [79]:
### Read in Data
race = pd.read_csv("data/race.csv")
race

,Data as of,State,Indicator,Non-Hispanic White,Non-Hispanic Black or African American,Non-Hispanic American Indian or Alaska Native,Non-Hispanic Asian,Hispanic or Latino,Other,Footnote
0,07/15/2020,United States,Count of COVID-19 deaths,64073.0,27848.0,974.0,6022.0,20849.0,1608.0,NaN
1,07/15/2020,United States,Distribution of COVID-19 deaths (%),52.8,22.9,0.8,5.0,17.2,1.3,NaN
2,07/15/2020,United States,Unweighted distribution of population (%),60.4,12.5,0.7,5.7,18.3,2.4,NaN
3,07/15/2020,United States,Weighted distribution of population (%),42.0,16.9,0.3,10.6,28.2,1.9,NaN
4,07/15/2020,Alabama,Count of COVID-19 deaths,520.0,494.0,NaN,NaN,24.0,NaN,One or more data cells have counts between 1–9...
...,...,...,...,...,...,...,...,...,...,...
171,07/15/2020,Washington,Weighted distribution of population (%),60.9,6.1,0.8,16.8,11.0,4.5,NaN
172,07/15/2020,Wisconsin,Count of COVID-19 deaths,476.0,188.0,NaN,23.0,86.0,NaN,One or more data cells have counts between 1–9...
173,07/15/2020,Wisconsin,Distribution of COVID-19 deaths (%),61.0,24.1,NaN,2.9,11.0,NaN,One or more data cells have counts between 1–9...
174,07/15/2020,Wisconsin,Unweighted distribution of population (%),81.1,6.4,0.9,3.0,6.9,1.7,NaN
175,07/15/2020,Wisconsin,Weighted distribution of population (%),57.2,21.8,0.6,4.4,13.8,2.2,NaN

Drop Footnote

In [80]:
race = race.drop(columns = "Footnote")
race

,Data as of,State,Indicator,Non-Hispanic White,Non-Hispanic Black or African American,Non-Hispanic American Indian or Alaska Native,Non-Hispanic Asian,Hispanic or Latino,Other
0,07/15/2020,United States,Count of COVID-19 deaths,64073.0,27848.0,974.0,6022.0,20849.0,1608.0
1,07/15/2020,United States,Distribution of COVID-19 deaths (%),52.8,22.9,0.8,5.0,17.2,1.3
2,07/15/2020,United States,Unweighted distribution of population (%),60.4,12.5,0.7,5.7,18.3,2.4
3,07/15/2020,United States,Weighted distribution of population (%),42.0,16.9,0.3,10.6,28.2,1.9
4,07/15/2020,Alabama,Count of COVID-19 deaths,520.0,494.0,NaN,NaN,24.0,NaN
...,...,...,...,...,...,...,...,...,...
171,07/15/2020,Washington,Weighted distribution of population (%),60.9,6.1,0.8,16.8,11.0,4.5
172,07/15/2020,Wisconsin,Count of COVID-19 deaths,476.0,188.0,NaN,23.0,86.0,NaN
173,07/15/2020,Wisconsin,Distribution of COVID-19 deaths (%),61.0,24.1,NaN,2.9,11.0,NaN
174,07/15/2020,Wisconsin,Unweighted distribution of population (%),81.1,6.4,0.9,3.0,6.9,1.7
175,07/15/2020,Wisconsin,Weighted distribution of population (%),57.2,21.8,0.6,4.4,13.8,2.2

Remove New York City and rename "New York < sup > 5 < /sup>" to New York

In [81]:
### Drop NYC.
NYCindex = list(race["State"][race["State"] == "New York City"].index)
race = race.drop(index = NYCindex)

### Rename New York<sup>5</sup> to New York.
NYindex = list(race["State"][race["State"] == "New York<sup>5</sup>"].index)
race["State"][NYindex] = "New York"

### Rename DC
DCindex = list(race["State"][race["State"] == "District of Columbia"].index)
race["State"][DCindex] = "DC"

race["State"].unique()

/home/hcup-server2/.local/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/home/hcup-server2/.local/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

array(['United States', 'Alabama', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'DC', 'Florida', 'Georgia',
       'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
       'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Mississippi', 'Missouri', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'Ohio',
       'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
       'South Carolina', 'Tennessee', 'Texas', 'Utah', 'Virginia',
       'Washington', 'Wisconsin'], dtype=object)

In [82]:
race

,Data as of,State,Indicator,Non-Hispanic White,Non-Hispanic Black or African American,Non-Hispanic American Indian or Alaska Native,Non-Hispanic Asian,Hispanic or Latino,Other
0,07/15/2020,United States,Count of COVID-19 deaths,64073.0,27848.0,974.0,6022.0,20849.0,1608.0
1,07/15/2020,United States,Distribution of COVID-19 deaths (%),52.8,22.9,0.8,5.0,17.2,1.3
2,07/15/2020,United States,Unweighted distribution of population (%),60.4,12.5,0.7,5.7,18.3,2.4
3,07/15/2020,United States,Weighted distribution of population (%),42.0,16.9,0.3,10.6,28.2,1.9
4,07/15/2020,Alabama,Count of COVID-19 deaths,520.0,494.0,NaN,NaN,24.0,NaN
...,...,...,...,...,...,...,...,...,...
171,07/15/2020,Washington,Weighted distribution of population (%),60.9,6.1,0.8,16.8,11.0,4.5
172,07/15/2020,Wisconsin,Count of COVID-19 deaths,476.0,188.0,NaN,23.0,86.0,NaN
173,07/15/2020,Wisconsin,Distribution of COVID-19 deaths (%),61.0,24.1,NaN,2.9,11.0,NaN
174,07/15/2020,Wisconsin,Unweighted distribution of population (%),81.1,6.4,0.9,3.0,6.9,1.7
175,07/15/2020,Wisconsin,Weighted distribution of population (%),57.2,21.8,0.6,4.4,13.8,2.2

To get the data into a more usable form, first split into separate dataframes by Indicator. Will merge later.

In [83]:
countDeaths = race[race["Indicator"] == "Count of COVID-19 deaths"]
distDeaths = race[race["Indicator"] == "Distribution of COVID-19 deaths (%)"]
unweightDeaths = race[race["Indicator"] == "Unweighted distribution of population (%)"]
weightDeaths = race[race["Indicator"] == "Weighted distribution of population (%)"]

#### Count of COVID-19 deaths

In [84]:
### Unpivot
countDeaths = pd.melt(countDeaths, id_vars = ["Data as of","State", "Indicator"],
       value_vars = countDeaths.columns[3:9],
       var_name = "Race", value_name = "Count of COVID-19 deaths")
countDeaths

,Data as of,State,Indicator,Race,Count of COVID-19 deaths
0,07/15/2020,United States,Count of COVID-19 deaths,Non-Hispanic White,64073.0
1,07/15/2020,Alabama,Count of COVID-19 deaths,Non-Hispanic White,520.0
2,07/15/2020,Arizona,Count of COVID-19 deaths,Non-Hispanic White,750.0
3,07/15/2020,Arkansas,Count of COVID-19 deaths,Non-Hispanic White,157.0
4,07/15/2020,California,Count of COVID-19 deaths,Non-Hispanic White,1853.0
...,...,...,...,...,...
253,07/15/2020,Texas,Count of COVID-19 deaths,Other,11.0
254,07/15/2020,Utah,Count of COVID-19 deaths,Other,NaN
255,07/15/2020,Virginia,Count of COVID-19 deaths,Other,NaN
256,07/15/2020,Washington,Count of COVID-19 deaths,Other,20.0
257,07/15/2020,Wisconsin,Count of COVID-19 deaths,Other,NaN

In [85]:
### Drop Indicator
countDeaths = countDeaths.drop(columns = "Indicator")
countDeaths

     Data as of          State                Race  Count of COVID-19 deaths
0    07/15/2020  United States  Non-Hispanic White                   64073.0
1    07/15/2020        Alabama  Non-Hispanic White                     520.0
2    07/15/2020        Arizona  Non-Hispanic White                     750.0
3    07/15/2020       Arkansas  Non-Hispanic White                     157.0
4    07/15/2020     California  Non-Hispanic White                    1853.0
..          ...            ...                 ...                       ...
253  07/15/2020          Texas               Other                      11.0
254  07/15/2020           Utah               Other                       NaN
255  07/15/2020       Virginia               Other                       NaN
256  07/15/2020     Washington               Other                      20.0
257  07/15/2020      Wisconsin               Other                       NaN

[258 rows x 4 columns]

#### Distribution of COVID-19 deaths (%)

In [86]:
### Unpivot
distDeaths = pd.melt(distDeaths, id_vars = ["Data as of","State", "Indicator"],
       value_vars = distDeaths.columns[3:9],
       var_name = "Race", value_name = "Distribution of COVID-19 deaths (%)")
distDeaths

,Data as of,State,Indicator,Race,Distribution of COVID-19 deaths (%)
0,07/15/2020,United States,Distribution of COVID-19 deaths (%),Non-Hispanic White,52.8
1,07/15/2020,Alabama,Distribution of COVID-19 deaths (%),Non-Hispanic White,49.6
2,07/15/2020,Arizona,Distribution of COVID-19 deaths (%),Non-Hispanic White,46.1
3,07/15/2020,Arkansas,Distribution of COVID-19 deaths (%),Non-Hispanic White,56.1
4,07/15/2020,California,Distribution of COVID-19 deaths (%),Non-Hispanic White,31.4
...,...,...,...,...,...
253,07/15/2020,Texas,Distribution of COVID-19 deaths (%),Other,0.4
254,07/15/2020,Utah,Distribution of COVID-19 deaths (%),Other,NaN
255,07/15/2020,Virginia,Distribution of COVID-19 deaths (%),Other,NaN
256,07/15/2020,Washington,Distribution of COVID-19 deaths (%),Other,1.7
257,07/15/2020,Wisconsin,Distribution of COVID-19 deaths (%),Other,NaN

In [87]:
### Drop Indicator
distDeaths = distDeaths.drop(columns = "Indicator")
distDeaths

,Data as of,State,Race,Distribution of COVID-19 deaths (%)
0,07/15/2020,United States,Non-Hispanic White,52.8
1,07/15/2020,Alabama,Non-Hispanic White,49.6
2,07/15/2020,Arizona,Non-Hispanic White,46.1
3,07/15/2020,Arkansas,Non-Hispanic White,56.1
4,07/15/2020,California,Non-Hispanic White,31.4
...,...,...,...,...
253,07/15/2020,Texas,Other,0.4
254,07/15/2020,Utah,Other,NaN
255,07/15/2020,Virginia,Other,NaN
256,07/15/2020,Washington,Other,1.7
257,07/15/2020,Wisconsin,Other,NaN

#### Unweighted distribution of population (%)

In [88]:
### Unpivot
unweightDeaths = pd.melt(unweightDeaths, id_vars = ["Data as of","State", "Indicator"],
       value_vars = unweightDeaths.columns[3:9],
       var_name = "Race", value_name = "Unweighted distribution of population (%)")
unweightDeaths

,Data as of,State,Indicator,Race,Unweighted distribution of population (%)
0,07/15/2020,United States,Unweighted distribution of population (%),Non-Hispanic White,60.4
1,07/15/2020,Alabama,Unweighted distribution of population (%),Non-Hispanic White,65.4
2,07/15/2020,Arizona,Unweighted distribution of population (%),Non-Hispanic White,54.4
3,07/15/2020,Arkansas,Unweighted distribution of population (%),Non-Hispanic White,72.2
4,07/15/2020,California,Unweighted distribution of population (%),Non-Hispanic White,36.8
...,...,...,...,...,...
253,07/15/2020,Texas,Unweighted distribution of population (%),Other,1.6
254,07/15/2020,Utah,Unweighted distribution of population (%),Other,3.1
255,07/15/2020,Virginia,Unweighted distribution of population (%),Other,2.7
256,07/15/2020,Washington,Unweighted distribution of population (%),Other,4.8
257,07/15/2020,Wisconsin,Unweighted distribution of population (%),Other,1.7

In [89]:
### Drop Indicator
unweightDeaths = unweightDeaths.drop(columns = "Indicator")
unweightDeaths

,Data as of,State,Race,Unweighted distribution of population (%)
0,07/15/2020,United States,Non-Hispanic White,60.4
1,07/15/2020,Alabama,Non-Hispanic White,65.4
2,07/15/2020,Arizona,Non-Hispanic White,54.4
3,07/15/2020,Arkansas,Non-Hispanic White,72.2
4,07/15/2020,California,Non-Hispanic White,36.8
...,...,...,...,...
253,07/15/2020,Texas,Other,1.6
254,07/15/2020,Utah,Other,3.1
255,07/15/2020,Virginia,Other,2.7
256,07/15/2020,Washington,Other,4.8
257,07/15/2020,Wisconsin,Other,1.7

#### Weighted distribution of population (%)

In [90]:
### Unpivot
weightDeaths = pd.melt(weightDeaths, id_vars = ["Data as of","State", "Indicator"],
       value_vars = weightDeaths.columns[3:9],
       var_name = "Race", value_name = "Weighted distribution of population (%)")
weightDeaths

,Data as of,State,Indicator,Race,Weighted distribution of population (%)
0,07/15/2020,United States,Weighted distribution of population (%),Non-Hispanic White,42.0
1,07/15/2020,Alabama,Weighted distribution of population (%),Non-Hispanic White,53.1
2,07/15/2020,Arizona,Weighted distribution of population (%),Non-Hispanic White,54.7
3,07/15/2020,Arkansas,Weighted distribution of population (%),Non-Hispanic White,60.0
4,07/15/2020,California,Weighted distribution of population (%),Non-Hispanic White,28.1
...,...,...,...,...,...
253,07/15/2020,Texas,Weighted distribution of population (%),Other,1.5
254,07/15/2020,Utah,Weighted distribution of population (%),Other,2.3
255,07/15/2020,Virginia,Weighted distribution of population (%),Other,3.2
256,07/15/2020,Washington,Weighted distribution of population (%),Other,4.5
257,07/15/2020,Wisconsin,Weighted distribution of population (%),Other,2.2

In [91]:
### Drop Indicator
weightDeaths = weightDeaths.drop(columns = "Indicator")
weightDeaths

,Data as of,State,Race,Weighted distribution of population (%)
0,07/15/2020,United States,Non-Hispanic White,42.0
1,07/15/2020,Alabama,Non-Hispanic White,53.1
2,07/15/2020,Arizona,Non-Hispanic White,54.7
3,07/15/2020,Arkansas,Non-Hispanic White,60.0
4,07/15/2020,California,Non-Hispanic White,28.1
...,...,...,...,...
253,07/15/2020,Texas,Other,1.5
254,07/15/2020,Utah,Other,2.3
255,07/15/2020,Virginia,Other,3.2
256,07/15/2020,Washington,Other,4.5
257,07/15/2020,Wisconsin,Other,2.2

Now merge all of them together.

In [92]:
raceNew = countDeaths.merge(distDeaths, how = "inner", on = ["Data as of", "State", "Race"])
raceNew = raceNew.merge(unweightDeaths, how = "inner", on = ["Data as of", "State", "Race"])
raceNew = raceNew.merge(weightDeaths, how = "inner", on = ["Data as of", "State", "Race"])
raceNew

,Data as of,State,Race,Count of COVID-19 deaths,Distribution of COVID-19 deaths (%),Unweighted distribution of population (%),Weighted distribution of population (%)
0,07/15/2020,United States,Non-Hispanic White,64073.0,52.8,60.4,42.0
1,07/15/2020,Alabama,Non-Hispanic White,520.0,49.6,65.4,53.1
2,07/15/2020,Arizona,Non-Hispanic White,750.0,46.1,54.4,54.7
3,07/15/2020,Arkansas,Non-Hispanic White,157.0,56.1,72.2,60.0
4,07/15/2020,California,Non-Hispanic White,1853.0,31.4,36.8,28.1
...,...,...,...,...,...,...,...
253,07/15/2020,Texas,Other,11.0,0.4,1.6,1.5
254,07/15/2020,Utah,Other,NaN,NaN,3.1,2.3
255,07/15/2020,Virginia,Other,NaN,NaN,2.7,3.2
256,07/15/2020,Washington,Other,20.0,1.7,4.8,4.5
257,07/15/2020,Wisconsin,Other,NaN,NaN,1.7,2.2

# 
#

# Hospitalization Estimates (Country, State level)

This data comes from the CDC’s National Healthcare Safety Network (NHSN). It enables hospitals to report:
* Current inpatient and intensive care unit (ICU) bed occupancy.
* Healthcare worker staffing.
* Personal protective equipment (PPE) supply status and availability.

Reporting is currently available to all U.S. acute care hospitals, critical access hospitals, inpatient rehabilitation facilities, inpatient psychiatric facilities, and long-term acute care hospitals.

__Important__: "Statistical methods were used to generate estimates of patient impact and hospital capacity measures that are representative at the national level. The estimates are based on data submitted by acute care hospitals to the NHSN COVID-19 Module. The statistical methods include weighting (to account for non-response) and multiple imputation (to account for missing data). The estimates (number and percentage) are shown along with 95% confidence intervals that reflect the statistical error that is primarily due to non-response."


__NOTE__: This data was submitted directly to CDC’s National Healthcare Safety Network (NHSN) and does not include data submitted to other entities contracted by or within the federal government.

The data can be found here: https://www.cdc.gov/nhsn/covid19/report-overview.html#anchor_1590010579051

In [93]:
### Go grab data
!curl https://www.cdc.gov/nhsn/pdfs/covid19/covid19-NatEst.csv --output data/hospital.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  576k    0  576k    0     0  3310k      0 --:--:-- --:--:-- --:--:-- 3310k

In [94]:
### Load in data
hospital = pd.read_csv("data/hospital.csv")
hospital

,state,statename,collectionDate,InpatBeds_Occ_AnyPat_Est,InpatBeds_Occ_AnyPat_LoCI,InpatBeds_Occ_AnyPat_UpCI,InpatBeds_Occ_AnyPat_Est_Avail,InBedsOccAnyPat__Numbeds_Est,InBedsOccAnyPat__Numbeds_LoCI,InBedsOccAnyPat__Numbeds_UpCI,...,InBedsOccCOVID__Numbeds_LoCI,InBedsOccCOVID__Numbeds_UpCI,ICUBeds_Occ_AnyPat_Est,ICUBeds_Occ_AnyPat_LoCI,ICUBeds_Occ_AnyPat_UpCI,ICUBeds_Occ_AnyPat_Est_Avail,ICUBedsOccAnyPat__N_ICUBeds_Est,ICUBedsOccAnyPat__N_ICUBeds_LoCI,ICUBedsOccAnyPat__N_ICUBeds_UpCI,Notes
0,Two-letter state abbreviation,State name,Day for which estimate is made,"Hospital inpatient bed occupancy, estimate","Hospital inpatient bed occupancy, lower 95% CI","Hospital inpatient bed occupancy, upper 95% CI","Hospital inpatient beds available, estimate","Hospital inpatient bed occupancy, percent esti...","Hospital inpatient bed occupancy, lower 95% CI...","Hospital inpatient bed occupancy, upper 95% CI...",...,Number of patients in an inpatient care locati...,Number of patients in an inpatient care locati...,"ICU bed occupancy, estimate","ICU bed occupancy, lower 95% CI","ICU bed occupancy, upper 95% CI","ICU beds available, estimate","ICU bed occupancy, percent estimate (percent o...","ICU bed occupancy, lower 95% CI (percent of IC...","ICU bed occupancy, upper 95% CI (percent of IC...",This file contains National and State represen...
1,US,United States,01APR2020,416064,380186,451942,350555,54.3,52.5,56.0,...,8.6,11.0,66369,56770,75968,45110,59.5,55.8,63.2,These estimates are based on data retrieved on...
2,US,United States,02APR2020,422892,391381,454403,357231,54.2,52.7,55.7,...,8.7,10.9,69385,60557,78214,45784,60.2,57.1,63.4,Statistical methods were used to generate esti...
3,US,United States,03APR2020,408938,382065,435810,364108,52.9,51.2,54.6,...,8.9,11.1,70580,61067,80092,45788,60.7,57.3,64.0,The estimates are based on data submitted by a...
4,US,United States,04APR2020,398850,374147,423554,375854,51.5,50.0,53.0,...,9.2,11.4,70134,62054,78215,47622,59.6,56.6,62.5,The statistical methods include weighting (to ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5028,WY,Wyoming,03JUL2020,434,82,785,489,47.0,34.8,59.1,...,0.4,2.6,57,0,123,6,90.3,50.7,100.0,NaN
5029,WY,Wyoming,04JUL2020,450,86,813,475,48.7,35.7,61.6,...,0.0,3.2,54,0,112,9,85.7,47.9,100.0,NaN
5030,WY,Wyoming,05JUL2020,438,69,808,494,47.0,33.5,60.5,...,0.0,3.1,41,0,86,21,65.7,26.4,100.0,NaN
5031,WY,Wyoming,06JUL2020,408,77,740,514,44.3,31.1,57.4,...,0.2,3.8,42,0,91,21,67.7,29.1,100.0,NaN
5032,WY,Wyoming,07JUL2020,408,65,751,515,44.2,30.8,57.7,...,0.0,4.1,40,0,89,23,64.2,27.7,100.0,NaN

In [95]:
### Drop the Notes & state columns and the first row.
hospital = hospital.drop(columns = ["state", "Notes"])
hospital = hospital.drop(index = 0)
hospital = hospital.reset_index(drop = True)
hospital

,statename,collectionDate,InpatBeds_Occ_AnyPat_Est,InpatBeds_Occ_AnyPat_LoCI,InpatBeds_Occ_AnyPat_UpCI,InpatBeds_Occ_AnyPat_Est_Avail,InBedsOccAnyPat__Numbeds_Est,InBedsOccAnyPat__Numbeds_LoCI,InBedsOccAnyPat__Numbeds_UpCI,InpatBeds_Occ_COVID_Est,...,InBedsOccCOVID__Numbeds_Est,InBedsOccCOVID__Numbeds_LoCI,InBedsOccCOVID__Numbeds_UpCI,ICUBeds_Occ_AnyPat_Est,ICUBeds_Occ_AnyPat_LoCI,ICUBeds_Occ_AnyPat_UpCI,ICUBeds_Occ_AnyPat_Est_Avail,ICUBedsOccAnyPat__N_ICUBeds_Est,ICUBedsOccAnyPat__N_ICUBeds_LoCI,ICUBedsOccAnyPat__N_ICUBeds_UpCI
0,United States,01APR2020,416064,380186,451942,350555,54.3,52.5,56.0,75104,...,9.8,8.6,11.0,66369,56770,75968,45110,59.5,55.8,63.2
1,United States,02APR2020,422892,391381,454403,357231,54.2,52.7,55.7,76546,...,9.8,8.7,10.9,69385,60557,78214,45784,60.2,57.1,63.4
2,United States,03APR2020,408938,382065,435810,364108,52.9,51.2,54.6,77122,...,10.0,8.9,11.1,70580,61067,80092,45788,60.7,57.3,64.0
3,United States,04APR2020,398850,374147,423554,375854,51.5,50.0,53.0,79742,...,10.3,9.2,11.4,70134,62054,78215,47622,59.6,56.6,62.5
4,United States,05APR2020,400937,376016,425858,381724,51.2,49.8,52.6,80287,...,10.3,9.1,11.4,69853,61615,78091,48620,59.0,55.6,62.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5027,Wyoming,03JUL2020,434,82,785,489,47.0,34.8,59.1,14,...,1.5,0.4,2.6,57,0,123,6,90.3,50.7,100.0
5028,Wyoming,04JUL2020,450,86,813,475,48.7,35.7,61.6,12,...,1.3,0.0,3.2,54,0,112,9,85.7,47.9,100.0
5029,Wyoming,05JUL2020,438,69,808,494,47.0,33.5,60.5,14,...,1.5,0.0,3.1,41,0,86,21,65.7,26.4,100.0
5030,Wyoming,06JUL2020,408,77,740,514,44.3,31.1,57.4,18,...,2.0,0.2,3.8,42,0,91,21,67.7,29.1,100.0
5031,Wyoming,07JUL2020,408,65,751,515,44.2,30.8,57.7,16,...,1.7,0.0,4.1,40,0,89,23,64.2,27.7,100.0

In [96]:
### Rename columns
hospital = hospital.rename(columns = {'statename' : "State", 
                                      'collectionDate': "Date"})
hospital

,State,Date,InpatBeds_Occ_AnyPat_Est,InpatBeds_Occ_AnyPat_LoCI,InpatBeds_Occ_AnyPat_UpCI,InpatBeds_Occ_AnyPat_Est_Avail,InBedsOccAnyPat__Numbeds_Est,InBedsOccAnyPat__Numbeds_LoCI,InBedsOccAnyPat__Numbeds_UpCI,InpatBeds_Occ_COVID_Est,...,InBedsOccCOVID__Numbeds_Est,InBedsOccCOVID__Numbeds_LoCI,InBedsOccCOVID__Numbeds_UpCI,ICUBeds_Occ_AnyPat_Est,ICUBeds_Occ_AnyPat_LoCI,ICUBeds_Occ_AnyPat_UpCI,ICUBeds_Occ_AnyPat_Est_Avail,ICUBedsOccAnyPat__N_ICUBeds_Est,ICUBedsOccAnyPat__N_ICUBeds_LoCI,ICUBedsOccAnyPat__N_ICUBeds_UpCI
0,United States,01APR2020,416064,380186,451942,350555,54.3,52.5,56.0,75104,...,9.8,8.6,11.0,66369,56770,75968,45110,59.5,55.8,63.2
1,United States,02APR2020,422892,391381,454403,357231,54.2,52.7,55.7,76546,...,9.8,8.7,10.9,69385,60557,78214,45784,60.2,57.1,63.4
2,United States,03APR2020,408938,382065,435810,364108,52.9,51.2,54.6,77122,...,10.0,8.9,11.1,70580,61067,80092,45788,60.7,57.3,64.0
3,United States,04APR2020,398850,374147,423554,375854,51.5,50.0,53.0,79742,...,10.3,9.2,11.4,70134,62054,78215,47622,59.6,56.6,62.5
4,United States,05APR2020,400937,376016,425858,381724,51.2,49.8,52.6,80287,...,10.3,9.1,11.4,69853,61615,78091,48620,59.0,55.6,62.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5027,Wyoming,03JUL2020,434,82,785,489,47.0,34.8,59.1,14,...,1.5,0.4,2.6,57,0,123,6,90.3,50.7,100.0
5028,Wyoming,04JUL2020,450,86,813,475,48.7,35.7,61.6,12,...,1.3,0.0,3.2,54,0,112,9,85.7,47.9,100.0
5029,Wyoming,05JUL2020,438,69,808,494,47.0,33.5,60.5,14,...,1.5,0.0,3.1,41,0,86,21,65.7,26.4,100.0
5030,Wyoming,06JUL2020,408,77,740,514,44.3,31.1,57.4,18,...,2.0,0.2,3.8,42,0,91,21,67.7,29.1,100.0
5031,Wyoming,07JUL2020,408,65,751,515,44.2,30.8,57.7,16,...,1.7,0.0,4.1,40,0,89,23,64.2,27.7,100.0

In [97]:
### Convert Date into datetime
hospital = hospital.astype({"Date" : "datetime64"})
hospital

,State,Date,InpatBeds_Occ_AnyPat_Est,InpatBeds_Occ_AnyPat_LoCI,InpatBeds_Occ_AnyPat_UpCI,InpatBeds_Occ_AnyPat_Est_Avail,InBedsOccAnyPat__Numbeds_Est,InBedsOccAnyPat__Numbeds_LoCI,InBedsOccAnyPat__Numbeds_UpCI,InpatBeds_Occ_COVID_Est,...,InBedsOccCOVID__Numbeds_Est,InBedsOccCOVID__Numbeds_LoCI,InBedsOccCOVID__Numbeds_UpCI,ICUBeds_Occ_AnyPat_Est,ICUBeds_Occ_AnyPat_LoCI,ICUBeds_Occ_AnyPat_UpCI,ICUBeds_Occ_AnyPat_Est_Avail,ICUBedsOccAnyPat__N_ICUBeds_Est,ICUBedsOccAnyPat__N_ICUBeds_LoCI,ICUBedsOccAnyPat__N_ICUBeds_UpCI
0,United States,2020-04-01,416064,380186,451942,350555,54.3,52.5,56.0,75104,...,9.8,8.6,11.0,66369,56770,75968,45110,59.5,55.8,63.2
1,United States,2020-04-02,422892,391381,454403,357231,54.2,52.7,55.7,76546,...,9.8,8.7,10.9,69385,60557,78214,45784,60.2,57.1,63.4
2,United States,2020-04-03,408938,382065,435810,364108,52.9,51.2,54.6,77122,...,10.0,8.9,11.1,70580,61067,80092,45788,60.7,57.3,64.0
3,United States,2020-04-04,398850,374147,423554,375854,51.5,50.0,53.0,79742,...,10.3,9.2,11.4,70134,62054,78215,47622,59.6,56.6,62.5
4,United States,2020-04-05,400937,376016,425858,381724,51.2,49.8,52.6,80287,...,10.3,9.1,11.4,69853,61615,78091,48620,59.0,55.6,62.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5027,Wyoming,2020-07-03,434,82,785,489,47.0,34.8,59.1,14,...,1.5,0.4,2.6,57,0,123,6,90.3,50.7,100.0
5028,Wyoming,2020-07-04,450,86,813,475,48.7,35.7,61.6,12,...,1.3,0.0,3.2,54,0,112,9,85.7,47.9,100.0
5029,Wyoming,2020-07-05,438,69,808,494,47.0,33.5,60.5,14,...,1.5,0.0,3.1,41,0,86,21,65.7,26.4,100.0
5030,Wyoming,2020-07-06,408,77,740,514,44.3,31.1,57.4,18,...,2.0,0.2,3.8,42,0,91,21,67.7,29.1,100.0
5031,Wyoming,2020-07-07,408,65,751,515,44.2,30.8,57.7,16,...,1.7,0.0,4.1,40,0,89,23,64.2,27.7,100.0

In [98]:
### Remove Puerto Rico 
PRindex = list(hospital["State"][hospital["State"] == "Puerto Rico"].index)
hospital = hospital.drop(index = PRindex)

### Rename DC
DCindex = list(hospital["State"][hospital["State"] == "District of Columbia"].index)
hospital["State"][DCindex] = "DC"

hospital["State"].unique()

/home/hcup-server2/.local/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

array(['United States', 'Alaska', 'Alabama', 'Arkansas', 'Arizona',
       'California', 'Colorado', 'Connecticut', 'DC', 'Delaware',
       'Florida', 'Georgia', 'Hawaii', 'Iowa', 'Idaho', 'Illinois',
       'Indiana', 'Kansas', 'Kentucky', 'Louisiana', 'Massachusetts',
       'Maryland', 'Maine', 'Michigan', 'Minnesota', 'Missouri',
       'Mississippi', 'Montana', 'North Carolina', 'North Dakota',
       'Nebraska', 'New Hampshire', 'New Jersey', 'New Mexico', 'Nevada',
       'New York', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Virginia', 'Vermont', 'Washington', 'Wisconsin',
       'West Virginia', 'Wyoming'], dtype=object)

# 
#

# New York Times Covid-19 Data

The New York Times (NYT) is releasing a series of data files with cumulative counts of coronavirus cases in the United States, at the state and county level, over time.

Since late January, The Times has tracked cases of coronavirus in real time as they were identified after testing. Because of the widespread shortage of testing, however, the data is necessarily limited in the picture it presents of the outbreak.

NYT counts include both laboratory confirmed and probable cases using criteria that were developed by states and the federal government. Not all geographies are reporting probable cases and yet others are providing confirmed and probable as a single total.

The data begins with the first reported coronavirus case in Washington State on Jan. 21, 2020.

## Notable Geographic Exceptions
- New York
    - All cases for the five boroughs of New York City (New York, Kings, Queens, Bronx and Richmond counties) are assigned to a single area called New York City. There is a large jump in the number of deaths on April 6th due to switching from data from New York City to data from New York state for deaths.
    
- Kansas City, Missouri
    - Four counties (Cass, Clay, Jackson and Platte) overlap the municipality of Kansas City, Missouri. The cases and deaths that NYT shows for these four counties are only for the portions exclusive of Kansas City. Cases and deaths for Kansas City are reported as their own line.
    
- Joplin, Missouri
    - Starting June 25, cases and deaths for Joplin are reported separately from Jasper and Newton counties. The cases and deaths reported for those counties are only for the portions exclusive of Joplin. Joplin cases and deaths previously appeared in the counts for those counties or as Unknown.
    
- Alameda County, California.
    - Counts for Alameda County include cases and deaths from Berkeley and the Grand Princess cruise ship.

- Douglas County, Nebraska.
    - Counts for Douglas County include cases brought to the state from the Diamond Princess cruise ship.
    
See more about these geographic exceptions and more about the data at https://github.com/nytimes/covid-19-data.

### Data Processing

#### National Level

In [99]:
### Go grab data
!curl https://raw.githubusercontent.com/nytimes/covid-19-data/master/us.csv --output data/NYTusa.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  3957  100  3957    0     0  24577      0 --:--:-- --:--:-- --:--:-- 24577

In [100]:
### Load in data
NYTusa = pd.read_csv('data/NYTusa.csv')
NYTusa

           date    cases  deaths
0    2020-01-21        1       0
1    2020-01-22        1       0
2    2020-01-23        1       0
3    2020-01-24        2       0
4    2020-01-25        3       0
..          ...      ...     ...
173  2020-07-12  3318347  134977
174  2020-07-13  3379859  135402
175  2020-07-14  3445483  136356
176  2020-07-15  3513846  137327
177  2020-07-16  3589489  138284

[178 rows x 3 columns]

In [101]:
### Set data as datetime and rename columns
NYTusa = NYTusa.astype({"date" : "datetime64"})

NYTusa = NYTusa.rename(columns = {'date' : "Date",
                                  'cases' : 'Total Cases',
                                  'deaths' : 'Total Deaths'})

NYTusa

          Date  Total Cases  Total Deaths
0   2020-01-21            1             0
1   2020-01-22            1             0
2   2020-01-23            1             0
3   2020-01-24            2             0
4   2020-01-25            3             0
..         ...          ...           ...
173 2020-07-12      3318347        134977
174 2020-07-13      3379859        135402
175 2020-07-14      3445483        136356
176 2020-07-15      3513846        137327
177 2020-07-16      3589489        138284

[178 rows x 3 columns]

In [102]:
### New Cases
NYTusa["New Cases"] = abs(np.diff(NYTusa["Total Cases"], prepend = NYTusa["Total Cases"].iloc[0]))

### New Deaths
NYTusa["New Deaths"] = abs(np.diff(NYTusa["Total Deaths"], prepend = NYTusa["Total Deaths"].iloc[0]))

NYTusa

          Date  Total Cases  Total Deaths  New Cases  New Deaths
0   2020-01-21            1             0          0           0
1   2020-01-22            1             0          0           0
2   2020-01-23            1             0          0           0
3   2020-01-24            2             0          1           0
4   2020-01-25            3             0          1           0
..         ...          ...           ...        ...         ...
173 2020-07-12      3318347        134977      57782         395
174 2020-07-13      3379859        135402      61512         425
175 2020-07-14      3445483        136356      65624         954
176 2020-07-15      3513846        137327      68363         971
177 2020-07-16      3589489        138284      75643         957

[178 rows x 5 columns]

In [103]:
### Add population.
NYTusa["Population"] = np.repeat(USAData["Population"][0], len(NYTusa))
NYTusa

          Date  Total Cases  Total Deaths  New Cases  New Deaths  Population
0   2020-01-21            1             0          0           0   328233889
1   2020-01-22            1             0          0           0   328233889
2   2020-01-23            1             0          0           0   328233889
3   2020-01-24            2             0          1           0   328233889
4   2020-01-25            3             0          1           0   328233889
..         ...          ...           ...        ...         ...         ...
173 2020-07-12      3318347        134977      57782         395   328233889
174 2020-07-13      3379859        135402      61512         425   328233889
175 2020-07-14      3445483        136356      65624         954   328233889
176 2020-07-15      3513846        137327      68363         971   328233889
177 2020-07-16      3589489        138284      75643         957   328233889

[178 rows x 6 columns]

In [104]:
### Percent of population that have cases.
NYTusa["%Cases"] = np.where(NYTusa["Population"] != 0,
                             round((NYTusa["Total Cases"] / NYTusa["Population"]) * 100, 3),
                             0)

### Percent of population that have died.
NYTusa["%Deaths"] = np.where(NYTusa["Population"] != 0,
                              round((NYTusa["Total Deaths"] / NYTusa["Population"]) * 100, 3),
                              0)

### Logarithmic Scales
NYTusa["log(Total Cases)"] = round(np.log(NYTusa["Total Cases"]), 3)
NYTusa["log(Total Deaths)"] = round(np.log(NYTusa["Total Deaths"]), 3)
NYTusa["log(New Cases)"] = round(np.log(NYTusa["New Cases"]), 3)
NYTusa["log(New Deaths)"] = round(np.log(NYTusa["New Deaths"]), 3)

NYTusa['Country'] = np.repeat('United States', len(NYTusa))
NYTusa = NYTusa[list(USAData.columns)]

NYTusa

/home/hcup-server2/.local/lib/python3.7/site-packages/pandas/core/series.py:679: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

,Country,Date,Total Cases,Total Deaths,Population,New Cases,New Deaths,%Cases,%Deaths,log(Total Cases),log(Total Deaths),log(New Cases),log(New Deaths)
0,United States,2020-01-21,1,0,328233889,0,0,0.000,0.000,0.000,-inf,-inf,-inf
1,United States,2020-01-22,1,0,328233889,0,0,0.000,0.000,0.000,-inf,-inf,-inf
2,United States,2020-01-23,1,0,328233889,0,0,0.000,0.000,0.000,-inf,-inf,-inf
3,United States,2020-01-24,2,0,328233889,1,0,0.000,0.000,0.693,-inf,0.000,-inf
4,United States,2020-01-25,3,0,328233889,1,0,0.000,0.000,1.099,-inf,0.000,-inf
...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,United States,2020-07-12,3318347,134977,328233889,57782,395,1.011,0.041,15.015,11.813,10.964,5.979
174,United States,2020-07-13,3379859,135402,328233889,61512,425,1.030,0.041,15.033,11.816,11.027,6.052
175,United States,2020-07-14,3445483,136356,328233889,65624,954,1.050,0.042,15.053,11.823,11.092,6.861
176,United States,2020-07-15,3513846,137327,328233889,68363,971,1.071,0.042,15.072,11.830,11.133,6.878
177,United States,2020-07-16,3589489,138284,328233889,75643,957,1.094,0.042,15.094,11.837,11.234,6.864

#### State Level

In [105]:
### Go grab data
!curl https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-states.csv --output data/NYTstate.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  237k  100  237k    0     0  1009k      0 --:--:-- --:--:-- --:--:-- 1005k

In [106]:
### Load in data
NYTstate = pd.read_csv('data/NYTstate.csv')
NYTstate

            date          state  fips  cases  deaths
0     2020-01-21     Washington    53      1       0
1     2020-01-22     Washington    53      1       0
2     2020-01-23     Washington    53      1       0
3     2020-01-24       Illinois    17      1       0
4     2020-01-24     Washington    53      1       0
...          ...            ...   ...    ...     ...
7489  2020-07-16       Virginia    51  74431    2007
7490  2020-07-16     Washington    53  46268    1492
7491  2020-07-16  West Virginia    54   4657      99
7492  2020-07-16      Wisconsin    55  43361     839
7493  2020-07-16        Wyoming    56   2026      24

[7494 rows x 5 columns]

In [107]:
### Set data to datetime and set fips to string
NYTstate = NYTstate.astype({"date" : "datetime64",
                            "fips" : 'str'})

### Rename columns
NYTstate = NYTstate.rename(columns = {'date' : "Date",
                                      'state' : 'State',
                                      'fips' : 'stateFIPS',
                                      'cases' : 'Total Cases',
                                      'deaths' : 'Total Deaths'})

### Sort data
NYTstate = NYTstate.sort_values(['State', 'Date'], ascending = [True, True])

NYTstate

           Date    State stateFIPS  Total Cases  Total Deaths
586  2020-03-13  Alabama         1            6             0
637  2020-03-14  Alabama         1           12             0
689  2020-03-15  Alabama         1           23             0
742  2020-03-16  Alabama         1           29             0
795  2020-03-17  Alabama         1           39             0
...         ...      ...       ...          ...           ...
7273 2020-07-12  Wyoming        56         1862            21
7328 2020-07-13  Wyoming        56         1903            21
7383 2020-07-14  Wyoming        56         1951            22
7438 2020-07-15  Wyoming        56         1985            22
7493 2020-07-16  Wyoming        56         2026            24

[7494 rows x 5 columns]

In [108]:
### Rename District of Columbia to DC
DCindex = list(NYTstate["State"][NYTstate["State"] == "District of Columbia"].index)
for index in DCindex:
    NYTstate["State"][index] = "DC"

### Remove Guam, Puerto Rico, Virgin Islands, Northern Mariana Islands
Guamindex = list(NYTstate["State"][NYTstate["State"] == "Guam"].index)
NYTstate = NYTstate.drop(index = Guamindex)

PRindex = list(NYTstate["State"][NYTstate["State"] == "Puerto Rico"].index)
NYTstate = NYTstate.drop(index = PRindex)

VIindex = list(NYTstate["State"][NYTstate["State"] == "Virgin Islands"].index)
NYTstate = NYTstate.drop(index = VIindex)

NMIindex = list(NYTstate["State"][NYTstate["State"] == "Northern Mariana Islands"].index)
NYTstate = NYTstate.drop(index = NMIindex)

NYTstate["State"].unique()

/home/hcup-server2/.local/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'DC', 'Florida', 'Georgia',
       'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas',
       'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts',
       'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana',
       'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico',
       'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma',
       'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina',
       'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
       'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'],
      dtype=object)

In [109]:
NYTstate = parallel2(NYTstate, newCases2)
NYTstate = parallel2(NYTstate, newDeaths2)
NYTstate

,Date,State,stateFIPS,Total Cases,Total Deaths,New Cases,New Deaths
586,2020-03-13,Alabama,1,6,0,0,0
637,2020-03-14,Alabama,1,12,0,6,0
689,2020-03-15,Alabama,1,23,0,11,0
742,2020-03-16,Alabama,1,29,0,6,0
795,2020-03-17,Alabama,1,39,0,10,0
...,...,...,...,...,...,...,...
7273,2020-07-12,Wyoming,56,1862,21,23,0
7328,2020-07-13,Wyoming,56,1903,21,41,0
7383,2020-07-14,Wyoming,56,1951,22,48,1
7438,2020-07-15,Wyoming,56,1985,22,34,0
7493,2020-07-16,Wyoming,56,2026,24,41,2

In [110]:
### Grab state population and state abbreviations
NYTstate = NYTstate.merge(StateData[['stateFIPS', 'Population', 'StateABV', 'Date']], on = ['stateFIPS', 'Date'], how = 'left')
NYTstate

,Date,State,stateFIPS,Total Cases,Total Deaths,New Cases,New Deaths,Population,StateABV
0,2020-03-13,Alabama,1,6,0,0,0,4903185.0,AL
1,2020-03-14,Alabama,1,12,0,6,0,4903185.0,AL
2,2020-03-15,Alabama,1,23,0,11,0,4903185.0,AL
3,2020-03-16,Alabama,1,29,0,6,0,4903185.0,AL
4,2020-03-17,Alabama,1,39,0,10,0,4903185.0,AL
...,...,...,...,...,...,...,...,...,...
7003,2020-07-12,Wyoming,56,1862,21,23,0,578759.0,WY
7004,2020-07-13,Wyoming,56,1903,21,41,0,578759.0,WY
7005,2020-07-14,Wyoming,56,1951,22,48,1,578759.0,WY
7006,2020-07-15,Wyoming,56,1985,22,34,0,578759.0,WY
7007,2020-07-16,Wyoming,56,2026,24,41,2,578759.0,WY

In [111]:
### Percent of population that have cases.
NYTstate["%Cases"] = np.where(NYTstate["Population"] != 0,
                             round((NYTstate["Total Cases"] / NYTstate["Population"]) * 100, 3),
                             0)

### Percent of population that have died.
NYTstate["%Deaths"] = np.where(NYTstate["Population"] != 0,
                              round((NYTstate["Total Deaths"] / NYTstate["Population"]) * 100, 3),
                              0)

### Logarithmic Scales
NYTstate["log(Total Cases)"] = round(np.log(NYTstate["Total Cases"]), 3)
NYTstate["log(Total Deaths)"] = round(np.log(NYTstate["Total Deaths"]), 3)
NYTstate["log(New Cases)"] = round(np.log(NYTstate["New Cases"]), 3)
NYTstate["log(New Deaths)"] = round(np.log(NYTstate["New Deaths"]), 3)

NYTstate = NYTstate[list(StateData.columns)]

NYTstate

/home/hcup-server2/.local/lib/python3.7/site-packages/pandas/core/series.py:679: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/home/hcup-server2/.local/lib/python3.7/site-packages/pandas/core/series.py:679: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

,Date,State,StateABV,stateFIPS,Total Cases,Total Deaths,Population,New Cases,New Deaths,%Cases,%Deaths,log(Total Cases),log(Total Deaths),log(New Cases),log(New Deaths)
0,2020-03-13,Alabama,AL,1,6,0,4903185.0,0,0,0.000,0.000,1.792,-inf,-inf,-inf
1,2020-03-14,Alabama,AL,1,12,0,4903185.0,6,0,0.000,0.000,2.485,-inf,1.792,-inf
2,2020-03-15,Alabama,AL,1,23,0,4903185.0,11,0,0.000,0.000,3.135,-inf,2.398,-inf
3,2020-03-16,Alabama,AL,1,29,0,4903185.0,6,0,0.001,0.000,3.367,-inf,1.792,-inf
4,2020-03-17,Alabama,AL,1,39,0,4903185.0,10,0,0.001,0.000,3.664,-inf,2.303,-inf
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7003,2020-07-12,Wyoming,WY,56,1862,21,578759.0,23,0,0.322,0.004,7.529,3.045,3.135,-inf
7004,2020-07-13,Wyoming,WY,56,1903,21,578759.0,41,0,0.329,0.004,7.551,3.045,3.714,-inf
7005,2020-07-14,Wyoming,WY,56,1951,22,578759.0,48,1,0.337,0.004,7.576,3.091,3.871,0.000
7006,2020-07-15,Wyoming,WY,56,1985,22,578759.0,34,0,0.343,0.004,7.593,3.091,3.526,-inf
7007,2020-07-16,Wyoming,WY,56,2026,24,578759.0,41,2,0.350,0.004,7.614,3.178,3.714,0.693

#### County Level

In [112]:
### Go grab data
!curl https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv --output data/NYTcounty.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 12.8M  100 12.8M    0     0  23.2M      0 --:--:-- --:--:-- --:--:-- 23.1M

In [113]:
### Load in data
NYTcounty = pd.read_csv('data/NYTcounty.csv', dtype = str)
NYTcounty

              date      county       state   fips cases deaths
0       2020-01-21   Snohomish  Washington  53061     1      0
1       2020-01-22   Snohomish  Washington  53061     1      0
2       2020-01-23   Snohomish  Washington  53061     1      0
3       2020-01-24        Cook    Illinois  17031     1      0
4       2020-01-24   Snohomish  Washington  53061     1      0
...            ...         ...         ...    ...   ...    ...
340757  2020-07-16  Sweetwater     Wyoming  56037   158      2
340758  2020-07-16       Teton     Wyoming  56039   181      1
340759  2020-07-16       Uinta     Wyoming  56041   217      0
340760  2020-07-16    Washakie     Wyoming  56043    42      5
340761  2020-07-16      Weston     Wyoming  56045     3      0

[340762 rows x 6 columns]

In [114]:
### Rename columns, change data types, and sort data
NYTcounty = NYTcounty.astype({"date" : "datetime64",
                        "cases" : "int64",
                        "deaths" : 'int64'})

NYTcounty = NYTcounty.rename(columns = {'date' : 'Date',
                                        'county' : 'County Name',
                                        'state' : 'State',
                                        'fips' : 'countyFIPS',
                                        'cases' : "Total Cases",
                                        'deaths' : 'Total Deaths'})

NYTcounty = NYTcounty.sort_values(by = ["State", 'County Name', 'Date'], ascending = [True, True, True])


NYTcounty

             Date County Name    State countyFIPS  Total Cases  Total Deaths
9480   2020-03-24     Autauga  Alabama      01001            1             0
10835  2020-03-25     Autauga  Alabama      01001            4             0
12367  2020-03-26     Autauga  Alabama      01001            6             0
14025  2020-03-27     Autauga  Alabama      01001            6             0
15803  2020-03-28     Autauga  Alabama      01001            6             0
...           ...         ...      ...        ...          ...           ...
327999 2020-07-12      Weston  Wyoming      56045            1             0
331183 2020-07-13      Weston  Wyoming      56045            3             0
334374 2020-07-14      Weston  Wyoming      56045            3             0
337567 2020-07-15      Weston  Wyoming      56045            3             0
340761 2020-07-16      Weston  Wyoming      56045            3             0

[340762 rows x 6 columns]

In [115]:
### Rename District of Columbia to DC
DCindex = list(NYTcounty["State"][NYTcounty["State"] == "District of Columbia"].index)
for index in DCindex:
    NYTcounty["State"][index] = "DC"
    
# ### Remove Aleutians West Census Area
# NYTcounty = NYTcounty.drop(list(NYTcounty[NYTcounty["County Name"] == "Aleutians West Census Area"].index))

### Remove Guam, Puerto Rico, Virgin Islands, and Northern Mariana Islands
Guamindex = list(NYTcounty["State"][NYTcounty["State"] == "Guam"].index)
NYTcounty = NYTcounty.drop(index = Guamindex)

PRindex = list(NYTcounty["State"][NYTcounty["State"] == "Puerto Rico"].index)
NYTcounty = NYTcounty.drop(index = PRindex)

VIindex = list(NYTcounty["State"][NYTcounty["State"] == "Virgin Islands"].index)
NYTcounty = NYTcounty.drop(index = VIindex)

NMIindex = list(NYTcounty["State"][NYTcounty["State"] == "Northern Mariana Islands"].index)
NYTcounty = NYTcounty.drop(index = NMIindex)

NYTcounty["State"].unique()

/home/hcup-server2/.local/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'DC', 'Florida', 'Georgia',
       'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas',
       'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts',
       'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana',
       'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico',
       'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma',
       'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina',
       'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
       'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'],
      dtype=object)

### Fixing County Labels

#### New York City

One of the "counties" listed for New York is "New York City." This is not an actual county. This is the summation of the 5 counties that make up the NYC metropolitan area.

To handle this, "New York City" will be split into 5 parts, and their case and death numbers will be divided by 5. This will evenly split the information across New York, Kings, Queens, Bronx and Richmond counties.

"New York City" will be kept for other parts of the dashboard.

__Note__: This division doesn't match reality, but for the purposes of this dashboard, it is good enough.

In [116]:
### Make copies for the 5 counties of NYC
NewYorkcounty = NYTcounty[NYTcounty["County Name"] == 'New York City'].copy()
Kingscounty = NYTcounty[NYTcounty["County Name"] == 'New York City'].copy()
Queenscounty = NYTcounty[NYTcounty["County Name"] == 'New York City'].copy()
Bronxcounty = NYTcounty[NYTcounty["County Name"] == 'New York City'].copy()
Richmondcounty = NYTcounty[NYTcounty["County Name"] == 'New York City'].copy()

##### New York County

In [117]:
### Change county name, countyFIPS, and divide Total Cases/Total Deaths by 5
NewYorkcounty['County Name'] = "New York"
NewYorkcounty['countyFIPS'] = '36061'
NewYorkcounty['Total Cases'] = NewYorkcounty['Total Cases'] / 5
NewYorkcounty['Total Deaths'] = NewYorkcounty['Total Deaths'] / 5
NewYorkcounty

             Date County Name     State countyFIPS  Total Cases  Total Deaths
416    2020-03-01    New York  New York      36061          0.2           0.0
448    2020-03-02    New York  New York      36061          0.2           0.0
482    2020-03-03    New York  New York      36061          0.4           0.0
518    2020-03-04    New York  New York      36061          0.4           0.0
565    2020-03-05    New York  New York      36061          0.8           0.0
...           ...         ...       ...        ...          ...           ...
326646 2020-07-12    New York  New York      36061      44745.0        4551.0
329831 2020-07-13    New York  New York      36061      44795.4        4559.0
333019 2020-07-14    New York  New York      36061      44858.6        4561.6
336211 2020-07-15    New York  New York      36061      44932.4        4565.0
339405 2020-07-16    New York  New York      36061      45009.0        4568.4

[138 rows x 6 columns]

##### Kings County

In [118]:
Kingscounty['County Name'] = "Kings"
Kingscounty['countyFIPS'] = '36047'
Kingscounty['Total Cases'] = Kingscounty['Total Cases'] / 5
Kingscounty['Total Deaths'] = Kingscounty['Total Deaths'] / 5
Kingscounty

             Date County Name     State countyFIPS  Total Cases  Total Deaths
416    2020-03-01       Kings  New York      36047          0.2           0.0
448    2020-03-02       Kings  New York      36047          0.2           0.0
482    2020-03-03       Kings  New York      36047          0.4           0.0
518    2020-03-04       Kings  New York      36047          0.4           0.0
565    2020-03-05       Kings  New York      36047          0.8           0.0
...           ...         ...       ...        ...          ...           ...
326646 2020-07-12       Kings  New York      36047      44745.0        4551.0
329831 2020-07-13       Kings  New York      36047      44795.4        4559.0
333019 2020-07-14       Kings  New York      36047      44858.6        4561.6
336211 2020-07-15       Kings  New York      36047      44932.4        4565.0
339405 2020-07-16       Kings  New York      36047      45009.0        4568.4

[138 rows x 6 columns]

##### Queens County

In [119]:
Queenscounty['County Name'] = "Queens"
Queenscounty['countyFIPS'] = '36081'
Queenscounty['Total Cases'] = Queenscounty['Total Cases'] / 5
Queenscounty['Total Deaths'] = Queenscounty['Total Deaths'] / 5
Queenscounty

             Date County Name     State countyFIPS  Total Cases  Total Deaths
416    2020-03-01      Queens  New York      36081          0.2           0.0
448    2020-03-02      Queens  New York      36081          0.2           0.0
482    2020-03-03      Queens  New York      36081          0.4           0.0
518    2020-03-04      Queens  New York      36081          0.4           0.0
565    2020-03-05      Queens  New York      36081          0.8           0.0
...           ...         ...       ...        ...          ...           ...
326646 2020-07-12      Queens  New York      36081      44745.0        4551.0
329831 2020-07-13      Queens  New York      36081      44795.4        4559.0
333019 2020-07-14      Queens  New York      36081      44858.6        4561.6
336211 2020-07-15      Queens  New York      36081      44932.4        4565.0
339405 2020-07-16      Queens  New York      36081      45009.0        4568.4

[138 rows x 6 columns]

##### Bronx County

In [120]:
Bronxcounty['County Name'] = "Bronx"
Bronxcounty['countyFIPS'] = '36005'
Bronxcounty['Total Cases'] = Bronxcounty['Total Cases'] / 5
Bronxcounty['Total Deaths'] = Bronxcounty['Total Deaths'] / 5
Bronxcounty

             Date County Name     State countyFIPS  Total Cases  Total Deaths
416    2020-03-01       Bronx  New York      36005          0.2           0.0
448    2020-03-02       Bronx  New York      36005          0.2           0.0
482    2020-03-03       Bronx  New York      36005          0.4           0.0
518    2020-03-04       Bronx  New York      36005          0.4           0.0
565    2020-03-05       Bronx  New York      36005          0.8           0.0
...           ...         ...       ...        ...          ...           ...
326646 2020-07-12       Bronx  New York      36005      44745.0        4551.0
329831 2020-07-13       Bronx  New York      36005      44795.4        4559.0
333019 2020-07-14       Bronx  New York      36005      44858.6        4561.6
336211 2020-07-15       Bronx  New York      36005      44932.4        4565.0
339405 2020-07-16       Bronx  New York      36005      45009.0        4568.4

[138 rows x 6 columns]

##### Richmond County

In [121]:
Richmondcounty['County Name'] = "Richmond"
Richmondcounty['countyFIPS'] = '36085'
Richmondcounty['Total Cases'] = Richmondcounty['Total Cases'] / 5
Richmondcounty['Total Deaths'] = Richmondcounty['Total Deaths'] / 5
Richmondcounty

             Date County Name     State countyFIPS  Total Cases  Total Deaths
416    2020-03-01    Richmond  New York      36085          0.2           0.0
448    2020-03-02    Richmond  New York      36085          0.2           0.0
482    2020-03-03    Richmond  New York      36085          0.4           0.0
518    2020-03-04    Richmond  New York      36085          0.4           0.0
565    2020-03-05    Richmond  New York      36085          0.8           0.0
...           ...         ...       ...        ...          ...           ...
326646 2020-07-12    Richmond  New York      36085      44745.0        4551.0
329831 2020-07-13    Richmond  New York      36085      44795.4        4559.0
333019 2020-07-14    Richmond  New York      36085      44858.6        4561.6
336211 2020-07-15    Richmond  New York      36085      44932.4        4565.0
339405 2020-07-16    Richmond  New York      36085      45009.0        4568.4

[138 rows x 6 columns]

In [122]:
### Now add those counties to the data frame.
NYTcounty = pd.concat([NYTcounty, NewYorkcounty, Kingscounty, Queenscounty, Bronxcounty, Richmondcounty])
NYTcounty = NYTcounty.sort_values(by = ["State", 'County Name', 'Date'], ascending = [True, True, True])
NYTcounty['County Name'][NYTcounty['State'] == 'New York'].unique()

array(['Albany', 'Allegany', 'Bronx', 'Broome', 'Cattaraugus', 'Cayuga',
       'Chautauqua', 'Chemung', 'Chenango', 'Clinton', 'Columbia',
       'Cortland', 'Delaware', 'Dutchess', 'Erie', 'Essex', 'Franklin',
       'Fulton', 'Genesee', 'Greene', 'Hamilton', 'Herkimer', 'Jefferson',
       'Kings', 'Lewis', 'Livingston', 'Madison', 'Monroe', 'Montgomery',
       'Nassau', 'New York', 'New York City', 'Niagara', 'Oneida',
       'Onondaga', 'Ontario', 'Orange', 'Orleans', 'Oswego', 'Otsego',
       'Putnam', 'Queens', 'Rensselaer', 'Richmond', 'Rockland',
       'Saratoga', 'Schenectady', 'Schoharie', 'Schuyler', 'Seneca',
       'St. Lawrence', 'Steuben', 'Suffolk', 'Sullivan', 'Tioga',
       'Tompkins', 'Ulster', 'Unknown', 'Warren', 'Washington', 'Wayne',
       'Westchester', 'Wyoming', 'Yates'], dtype=object)

In [123]:
### Calculate New Cases and New Deaths
NYTcounty = parallel1(NYTcounty, newCases1)
NYTcounty = parallel1(NYTcounty, newDeaths1)
NYTcounty

,Date,County Name,State,countyFIPS,Total Cases,Total Deaths,New Cases,New Deaths
9480,2020-03-24,Autauga,Alabama,01001,1.0,0.0,0.0,0.0
10835,2020-03-25,Autauga,Alabama,01001,4.0,0.0,3.0,0.0
12367,2020-03-26,Autauga,Alabama,01001,6.0,0.0,2.0,0.0
14025,2020-03-27,Autauga,Alabama,01001,6.0,0.0,0.0,0.0
15803,2020-03-28,Autauga,Alabama,01001,6.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
327999,2020-07-12,Weston,Wyoming,56045,1.0,0.0,0.0,0.0
331183,2020-07-13,Weston,Wyoming,56045,3.0,0.0,2.0,0.0
334374,2020-07-14,Weston,Wyoming,56045,3.0,0.0,0.0,0.0
337567,2020-07-15,Weston,Wyoming,56045,3.0,0.0,0.0,0.0
340761,2020-07-16,Weston,Wyoming,56045,3.0,0.0,0.0,0.0

In [124]:
### Grab populations and state abbreviations
NYTcounty = NYTcounty.merge(CountyData[['countyFIPS', 'Population', 'StateABV', 'Date', 'stateFIPS']], on = ['countyFIPS','Date'], how = 'left')

### For New York City, sum the populations of the 5 NYC counties
NewYorkpop = NYTcounty['Population'][(NYTcounty['State'] == 'New York') & (NYTcounty['County Name'] == 'New York')].iloc[0]
Kingspop = NYTcounty['Population'][(NYTcounty['State'] == 'New York') & (NYTcounty['County Name'] == 'Kings')].iloc[0]
Queenspop = NYTcounty['Population'][(NYTcounty['State'] == 'New York') & (NYTcounty['County Name'] == 'Queens')].iloc[0]
Bronxpop = NYTcounty['Population'][(NYTcounty['State'] == 'New York') & (NYTcounty['County Name'] == 'Bronx')].iloc[0]
Richmondpop = NYTcounty['Population'][(NYTcounty['State'] == 'New York') & (NYTcounty['County Name'] == 'Richmond')].iloc[0]

NYTcounty['Population'][NYTcounty['County Name'] == 'New York City'] = NewYorkpop + Kingspop + Queenspop + Bronxpop + Richmondpop


### For Kansas City, sum the populations of the 4 KC counties.
Casspop = NYTcounty['Population'][(NYTcounty['State'] == 'Missouri') & (NYTcounty['County Name'] == 'Cass')].iloc[0]
Claypop = NYTcounty['Population'][(NYTcounty['State'] == 'Missouri') & (NYTcounty['County Name'] == 'Clay')].iloc[0]
Jacksonpop = NYTcounty['Population'][(NYTcounty['State'] == 'Missouri') & (NYTcounty['County Name'] == 'Jackson')].iloc[0]
Plattepop = NYTcounty['Population'][(NYTcounty['State'] == 'Missouri') & (NYTcounty['County Name'] == 'Platte')].iloc[0]

NYTcounty['Population'][NYTcounty['County Name'] == 'Kansas City'] = Casspop + Claypop + Jacksonpop + Plattepop

NYTcounty

/home/hcup-server2/.local/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/home/hcup-server2/.local/lib/python3.7/site-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Date,County Name,State,countyFIPS,Total Cases,Total Deaths,New Cases,New Deaths,Population,StateABV,stateFIPS
0,2020-03-24,Autauga,Alabama,01001,1.0,0.0,0.0,0.0,55869.0,AL,1
1,2020-03-25,Autauga,Alabama,01001,4.0,0.0,3.0,0.0,55869.0,AL,1
2,2020-03-26,Autauga,Alabama,01001,6.0,0.0,2.0,0.0,55869.0,AL,1
3,2020-03-27,Autauga,Alabama,01001,6.0,0.0,0.0,0.0,55869.0,AL,1
4,2020-03-28,Autauga,Alabama,01001,6.0,0.0,0.0,0.0,55869.0,AL,1
...,...,...,...,...,...,...,...,...,...,...,...
335258,2020-07-12,Weston,Wyoming,56045,1.0,0.0,0.0,0.0,6927.0,WY,56
335259,2020-07-13,Weston,Wyoming,56045,3.0,0.0,2.0,0.0,6927.0,WY,56
335260,2020-07-14,Weston,Wyoming,56045,3.0,0.0,0.0,0.0,6927.0,WY,56
335261,2020-07-15,Weston,Wyoming,56045,3.0,0.0,0.0,0.0,6927.0,WY,56
335262,2020-07-16,Weston,Wyoming,56045,3.0,0.0,0.0,0.0,6927.0,WY,56

In [125]:
NYTcounty["%Cases"] = np.where(NYTcounty["Population"] != 0,
                             round((NYTcounty["Total Cases"] / NYTcounty["Population"]) * 100, 3),
                             0)

### Percent of population that have died.
NYTcounty["%Deaths"] = np.where(NYTcounty["Population"] != 0,
                              round((NYTcounty["Total Deaths"] / NYTcounty["Population"]) * 100, 3),
                              0)

### Logarithmic Scales
NYTcounty["log(Total Cases)"] = round(np.log(NYTcounty["Total Cases"]), 3)
NYTcounty["log(Total Deaths)"] = round(np.log(NYTcounty["Total Deaths"]), 3)
NYTcounty["log(New Cases)"] = round(np.log(NYTcounty["New Cases"]), 3)
NYTcounty["log(New Deaths)"] = round(np.log(NYTcounty["New Deaths"]), 3)

NYTcounty = NYTcounty[list(CountyData.columns)]

NYTcounty

/home/hcup-server2/.local/lib/python3.7/site-packages/pandas/core/series.py:679: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/home/hcup-server2/.local/lib/python3.7/site-packages/pandas/core/series.py:679: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

,County Name,State,countyFIPS,StateABV,stateFIPS,Date,Total Cases,Total Deaths,Population,New Cases,New Deaths,%Cases,%Deaths,log(Total Cases),log(Total Deaths),log(New Cases),log(New Deaths)
0,Autauga,Alabama,01001,AL,1,2020-03-24,1.0,0.0,55869.0,0.0,0.0,0.002,0.0,0.000,-inf,-inf,-inf
1,Autauga,Alabama,01001,AL,1,2020-03-25,4.0,0.0,55869.0,3.0,0.0,0.007,0.0,1.386,-inf,1.099,-inf
2,Autauga,Alabama,01001,AL,1,2020-03-26,6.0,0.0,55869.0,2.0,0.0,0.011,0.0,1.792,-inf,0.693,-inf
3,Autauga,Alabama,01001,AL,1,2020-03-27,6.0,0.0,55869.0,0.0,0.0,0.011,0.0,1.792,-inf,-inf,-inf
4,Autauga,Alabama,01001,AL,1,2020-03-28,6.0,0.0,55869.0,0.0,0.0,0.011,0.0,1.792,-inf,-inf,-inf
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335258,Weston,Wyoming,56045,WY,56,2020-07-12,1.0,0.0,6927.0,0.0,0.0,0.014,0.0,0.000,-inf,-inf,-inf
335259,Weston,Wyoming,56045,WY,56,2020-07-13,3.0,0.0,6927.0,2.0,0.0,0.043,0.0,1.099,-inf,0.693,-inf
335260,Weston,Wyoming,56045,WY,56,2020-07-14,3.0,0.0,6927.0,0.0,0.0,0.043,0.0,1.099,-inf,-inf,-inf
335261,Weston,Wyoming,56045,WY,56,2020-07-15,3.0,0.0,6927.0,0.0,0.0,0.043,0.0,1.099,-inf,-inf,-inf
335262,Weston,Wyoming,56045,WY,56,2020-07-16,3.0,0.0,6927.0,0.0,0.0,0.043,0.0,1.099,-inf,-inf,-inf

### Final Data

Save datasets to CSVs.

In [126]:
CountyData.to_csv("data/countyData.csv", index = False)
StateData.to_csv("data/stateData.csv", index = False)
USAData.to_csv("data/usaData.csv", index = False)
DeathsSexAge.to_csv("data/demoDeaths.csv", index = False)
raceNew.to_csv("data/raceDeaths.csv", index = False)
hospital.to_csv("data/hospitalData.csv", index = False)
GoogleUsaMobility.to_csv('data/GoogleUsaMobility.csv', index = False)
GoogleStateMobility.to_csv('data/GoogleStateMobility.csv', index = False)
GoogleCountyMobility.to_csv('data/GoogleCountyMobility.csv', index = False)
NYTusa.to_csv('data/NYTusa.csv', index = False)
NYTstate.to_csv('data/NYTstate.csv', index = False)
NYTcounty.to_csv('data/NYTcounty.csv', index = False)